@keyframes rotate {
	100% {
		transform: rotateZ(360deg);
	}
}

._local {
	height: var(--height_actions);
	padding: 0 60px;

	:global {
		.action_item {
			.icon_wrap {
				width: 54px;
				height: 54px;
				padding: 0;
				border-radius: 50%;
				box-shadow: var(--shadow);
				margin-bottom: 12px;
				border: none;
				outline: none;

				&:hover {
					outline: 3px solid var(--color_border_light);
				}

				&.active {
					:local {
						animation: rotate 30s linear infinite;
					}
				}

                        &.disabled{
                              .icon{
                                    opacity: 0.3;
                              }
                        }
			}

			.text {
				color: var(--color_text_light);
			}
		}
	}
}
