/* Global */
.if {
	color: var(--color_text);
}

/* Input */
.if-input {
	font-family: 'RedditSans';
}

/* Tooltip */
[data-theme='dark'] {
	.if-tooltip {
		--antd-arrow-background-color: var(--color_bg_2);

		&-inner {
			background-color: var(--color_bg_2);
		}
	}
}

.if-tooltip {
	&-inner {
		display: flex;
		align-items: center;
		padding: 3px 6px !important;
		min-height: unset !important;
		font-size: 12px;
	}
}

/* Popover */
.if-popover {
	.if-popover-arrow::after {
		box-shadow: var(--shadow);
	}

	.if-popover-inner {
		padding: 0;
		border-radius: var(--radius);
		box-shadow: var(--shadow);
	}
}

/* Modal */
[data-theme='dark'] {
	.if-modal-root {
		.if-modal-mask {
			background-color: rgba(0, 0, 0, 0.75);
		}
	}
}

.if-modal-root {
	.if-modal-mask {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.if-modal-content {
		padding: 18px;

		.if-modal-header {
			background-color: transparent;

			.if-modal-title {
				font-size: 15px;
				font-weight: 500;
			}
		}

		.if-modal-close-x {
			font-size: 14px;
			line-height: 1;
		}

		.if-modal-footer {
			text-align: center;
			display: flex;

			.if-btn {
				flex: 1;
			}
		}
	}
}

/* Modal.confirm */
.if-modal-root {
	.if-modal-confirm {
		width: 300px !important;

		.if-modal-body {
			.if-modal-confirm-body {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;

				.if-icon {
					margin: 0;
				}

				.if-modal-confirm-paragraph {
					align-items: center;
				}

				.if-modal-confirm-title {
					margin-top: 12px;
					margin-bottom: 12px;
					font-size: 21px;
					line-height: 1;
				}

				.if-modal-confirm-content {
					width: 90%;
					max-width: unset;
					margin: 0;
					text-align: center;
				}
			}

			.if-modal-confirm-btns {
				text-align: center;
				display: flex;
				margin-top: 18px;

				.if-btn {
					flex: 1;
				}
			}
		}
	}
}

/* Drawer */
[data-theme='dark'] {
	.if-drawer {
		.if-drawer-mask {
			background-color: rgba(0, 0, 0, 0.75);
		}
	}
}

.if-drawer {
	&:focus-visible {
		outline: none;
	}

	.if-drawer-mask {
		background-color: rgba(0, 0, 0, 0.3);
	}

	&-content-wrapper {
		padding: 12px;
		box-sizing: content-box !important;
		box-shadow: none !important;

		.if-drawer-content {
			border-radius: var(--radius);

			.if-drawer-header {
				min-height: 40px;
				padding: 9px 18px;
				background-color: transparent;
				position: relative;

				&-title {
					.if-drawer-title {
						line-height: 1;
					}

					.if-drawer-close {
						position: absolute;
						right: 12px;
						width: 21px;
						height: 21px;
						padding: 0;
						margin-right: 0;
						font-size: 14px;
						line-height: 1;
						border-radius: var(--radius_small);
						color: rgba(var(--color_text_rgb), 0.45);

						&:hover {
							color: rgba(var(--color_text_rgb), 0.88);
							background-color: rgba(var(--color_text_rgb), 0.06);
						}
					}
				}
			}

			.if-drawer-body {
				padding: 18px;
			}

			.if-drawer-footer {
				min-height: 40px;
				padding: 9px 18px;
			}
		}
	}
}

/* Message */
.if-message {
	top: initial !important;
	bottom: 8px !important;

	&-notice {
		padding: 8px 16px !important;
		text-align: right !important;

		&-content {
			padding: 6px 9px !important;
			border: 1px solid var(--color_border) !important;
		}
	}
}

/* Button */
.if-btn {
	&-default {
		&:active,
		&:hover {
			border-color: var(--color_text_grey) !important;
			color: var(--color_text) !important;
		}
	}

	&-primary {
		&:hover {
			background-color: var(--color_main) !important;
		}
	}
}

/* Radio Group */
.if-radio-group {
	font-weight: 400;

	.if-radio-wrapper {
		margin-right: 10px;

		&:last-child {
			margin: 0;
		}

		span.if-radio + * {
			padding-inline-start: 6px;
			padding-inline-end: 0;
		}
	}
}

/* Switch */
.if-switch {
	&:hover {
		&:not(.if-switch-disabled) {
			background-color: var(--color_main);
		}
	}

	&:not(.if-switch-checked) {
		&:hover {
			background-color: rgba(var(--color_text_rgb), 0.45);
		}
	}
}

/* Select */
.if-select {
	&.borderless {
		border: none !important;

		--height: 22px;

		.if-select-selector {
			height: var(--height) !important;
			line-height: var(--height) !important;
			font-size: 12px;
			padding: 0 !important;
			margin-top: -1px !important;

			input {
				height: 100% !important;
				line-height: var(--height) !important;
			}

			.if-select-selection-overflow {
				height: var(--height) !important;
			}

			.if-select-selection-item {
				line-height: var(--height) !important;
			}

			.if-select-selection-placeholder {
				height: 100% !important;
				line-height: var(--height) !important;
			}
		}

		.if-select-dropdown {
			width: unset !important;
			min-width: 81px !important;

			.if-select-item {
				min-height: unset;
				padding: 3px 4px;
				font-size: 12px;
			}
		}
	}

	&.no_suffix {
		.if-select-selector {
			padding-left: 1px;
			padding-right: 0;

			&::after {
				display: none;
			}

			.if-select-selection-search {
				width: 1px !important;
				opacity: 0;
			}

			.if-select-selection-overflow {
				width: 100%;
				height: 24px;
				align-items: center;

				&-item {
					height: 100%;
					display: inline-block;
					overflow: hidden;
					align-self: unset;
				}
			}
		}
	}

	&-dropdown {
		.if-empty-image {
			margin-bottom: 0;
		}

		.if-empty-description {
			display: none;
		}

		.if-select-item {
			&-option-selected {
				background-color: transparent !important;
			}
		}
	}
}

/* Dropdown */
[data-theme='dark'] {
	.if-dropdown-menu {
		box-shadow: 0 0 30px rgba(var(--color_std_rgb), 0.72) !important;
		border: var(--border);
	}
}

.if-dropdown-menu {
	box-shadow: var(--shadow) !important;

	&-item {
		padding: 4px 6px !important;
		font-size: 12px;
	}

	&-submenu-title {
		padding: 4px 6px !important;
		display: flex;
		align-items: center;

		.if-dropdown-menu-submenu-expand-icon {
			line-height: 1;
		}
	}

	&-title-content {
		font-size: 12px;
	}

	.menu_item_wrap {
		&.selected {
			padding-right: 30px;

			.icon_selected {
				right: 6px;
				color: var(--color_main);
			}
		}
	}
}

/* DatePicker */
.if-picker-dropdown {
	.if-picker-footer {
		.if-picker-ranges {
			margin-top: 0;
		}
	}

	.if-picker-presets {
		min-width: 81px !important;
		font-size: 12px;

		ul {
			li {
				margin: 0 !important;
			}
		}
	}
}
