/* Tooltip */
[data-theme='dark'] {
	.if-tooltip {
		--antd-arrow-background-color: var(--color_bg_2);

		&-inner {
			background-color: var(--color_bg_2);
		}
	}
}

.if-tooltip {
	&-inner {
		display: flex;
		align-items: center;
		padding: 3px 6px !important;
		min-height: unset !important;
		font-size: 12px;
	}
}

/* Popover */
.if-popover {
	.if-popover-arrow::after {
		box-shadow: var(--shadow);
	}

	.if-popover-inner {
		padding: 0;
		border-radius: var(--radius);
		box-shadow: var(--shadow);
	}
}

/* Modal */
.if-modal-root {
	.if-modal-mask {
		backdrop-filter: var(--blur);
	}

	.if-modal-content {
		padding: 18px;

		.if-modal-header {
			background-color: transparent;

			.if-modal-title {
				font-size: 15px;
				font-weight: 500;
			}
		}

		.if-modal-close-x {
			font-size: 14px;
			line-height: 1;
		}

		.if-modal-footer {
			text-align: center;
			display: flex;

			.if-btn {
				flex: 1;
			}
		}
	}
}

/* Modal.confirm */
.if-modal-root {
	.if-modal-confirm {
		width: 300px !important;

		.if-modal-body {
			.if-modal-confirm-body {
				display: flex;
				flex-direction: column;

				.if-icon {
					margin: 0;
				}

				.if-modal-confirm-title {
					margin-top: 12px;
					margin-bottom: 12px;
					font-size: 21px;
					line-height: 1;
				}

				.if-modal-confirm-content {
					width: 100%;
					max-width: unset;
					margin: 0;
					text-align: center;
				}
			}

			.if-modal-confirm-btns {
				text-align: center;
				display: flex;
				margin-top: 18px;

				.if-btn {
					flex: 1;
				}
			}
		}
	}
}

/* Drawer */
.if-drawer {
	&.hide_mask {
		.if-drawer-mask {
			background-color: transparent;
		}
	}

	&-content-wrapper {
		box-shadow: var(--shadow) !important;

		.if-drawer-content {
			padding: 18px;

			.if-drawer-header {
				padding: 0;
				background-color: transparent;
				border-bottom: none;
				position: relative;

				&-title {
					font-size: 15px;
					font-weight: 500;
					line-height: 1;
					margin-bottom: 9px;

					.if-drawer-close {
						position: absolute;
						right: 12px;
						width: 22px;
						height: 22px;
						padding: 0;
						margin-right: 0;
						font-size: 14px;
						line-height: 1;
						border-radius: var(--radius_small);
						color: rgba(var(--color_text_rgb), 0.45);

						&:hover {
							color: rgba(var(--color_text_rgb), 0.88);
							background-color: rgba(var(--color_text_rgb), 0.06);
						}
					}
				}
			}

			.if-drawer-body {
				padding: 0;
			}
		}
	}
}

/* Message */
.if-message {
	top: initial !important;
	bottom: 8px !important;

	&-notice {
		padding: 8px 16px !important;
		text-align: right !important;

		&-content {
			padding: 6px 9px !important;
			border: 1px solid var(--color_border) !important;
		}
	}
}

/* Button */
.if-btn {
	&-default {
		&:active,
		&:hover {
			border-color: var(--color_text_grey) !important;
			color: var(--color_text) !important;
		}
	}

	&-primary {
		&:hover {
			background-color: var(--color_main) !important;
		}
	}
}

/* Radio Group */
.if-radio-group {
	font-weight: 400;

	.if-radio-wrapper {
		margin-right: 10px;

		&:last-child {
			margin: 0;
		}

		span.if-radio + * {
			padding-inline-start: 6px;
			padding-inline-end: 0;
		}
	}
}

/* Switch */
.if-switch {
	&:hover {
		&:not(.if-switch-disabled) {
			background-color: var(--color_main);
		}
	}

	&:not(.if-switch-checked) {
		&:hover {
			background-color: rgba(var(--color_text_rgb), 0.45);
		}
	}
}

/* Select */
.if-select {
	&.borderless {
		.if-select-selector {
			height: 100% !important;
			line-height: 24px !important;
			font-size: 12px;
			padding: 0 !important;

			input {
				height: 100% !important;
				line-height: 22px !important;
			}

                  .if-select-selection-item{
				line-height: 22px !important;
                  }

			.if-select-selection-placeholder {
				height: 100% !important;
				line-height: 22px !important;
			}
		}

		.if-select-dropdown {
			.if-select-item {
				min-height: 26px;
				line-height: 26px;
				padding-top: 0;
				padding-bottom: 0;
				font-size: 12px;
			}
		}
	}

	&-dropdown {
		.if-empty-image {
			margin-bottom: 0;
		}

		.if-empty-description {
			display: none;
		}
	}
}
