.if-btn {
	gap: 6px;

	&:disabled {
		border: none;
	}

	&-primary {
		&:disabled {
			color: var(--color_bg);
			background-color: var(--color_text_light);
		}

		&.if-btn-dangerous {
			&:hover {
				outline: 3px solid var(--color_border);
				background-color: var(--color_danger) !important;
			}
		}
	}

	&.if-btn-two-chinese-chars > *:not(.if-icon) {
		margin-inline-end: unset;
		letter-spacing: unset;
	}
}
