.if-picker {
	&.if-picker-borderless {
		&.if-picker-focused {
			.if-picker-input {
				overflow: visible;

				input {
					text-decoration: underline;
					text-underline-offset: 2px;
				}
			}
		}
	}
}

.if-picker-dropdown {
	&.disable_second {
		.if-picker-time-panel {
			.if-picker-content {
				.if-picker-time-panel-column {
					&:last-child {
						display: none;
					}
				}
			}
		}

		.if-picker-footer {
			.if-picker-ranges {
				justify-content: flex-end;

				.if-picker-now {
					display: none;
				}
			}
		}
	}

	.if-picker-panel-container {
		padding: 0;
		border-radius: var(--radius);
		box-shadow: var(--shadow);
		border: var(--border);
		font-size: 12px;

		.if-picker-panel {
			padding: 6px;
		}
	}

	.if-picker-date-panel {
		width: 173px !important;
		height: unset !important;

		.if-picker-body {
			display: flex;
			justify-content: center;
			padding: 0px !important;

			.if-picker-content {
				thead {
					tr {
						th {
							height: 26px;
						}
					}
				}

				tbody {
					tr {
						td {
							padding: 1px 0;

							&::after {
								height: 24px !important;
							}

							.if-picker-cell-inner {
								display: flex;
								justify-content: center;
								align-items: center;
								line-height: 1;
								border: 1px solid transparent;
							}

							&.if-picker-cell-disabled {
								opacity: 0.3;

								&::before {
									display: none;
								}
							}

							&.if-picker-cell-today {
								.if-picker-cell-inner {
									font-weight: bold;

									&::before {
										display: none;
									}
								}
							}

							&.if-picker-cell-selected {
								.if-picker-cell-inner {
									background-color: transparent;
									color: var(--color_text);
									border: 1px solid var(--color_text);
									font-weight: bold;
								}
							}

							&.if-picker-cell-range-hover {
								&::before {
									background-color: rgba(var(--color_text_rgb), 0.12) !important;
								}
							}

							&.if-picker-cell-range-hover-end {
								&::before {
									background-color: rgba(var(--color_text_rgb), 0.18) !important;
								}

								.if-picker-cell-inner {
									background-color: transparent;

									&::after {
										display: none;
									}
								}
							}

							&.if-picker-cell-range-end {
								.if-picker-cell-inner {
									border-left: none;
									background-color: var(--color_bg_2);
								}
							}
						}
					}
				}
			}
		}
	}

	.if-picker-month-panel,
	.if-picker-year-panel,
	.if-picker-decade-panel {
		width: 150px;

		.if-picker-body {
			padding: 8px 2px;

			.if-picker-content {
				height: unset;

				tbody {
					tr {
						td {
							padding: 3px 0;
							background-color: transparent !important;

							&::before {
								display: none;
							}

							&.if-picker-cell-disabled {
								opacity: 0.3;
							}

							&.if-picker-cell-selected {
								.if-picker-cell-inner {
									background-color: transparent;
									color: var(--color_text);
									border: 1px solid var(--color_text);
									font-weight: bold;
								}
							}

							.if-picker-cell-inner {
								width: unset;
								padding: 0 6px;
								border: 1px solid transparent;
								line-height: 22px;
							}
						}
					}
				}
			}
		}
	}

	.if-picker-decade-panel {
		width: 240px;
	}

	.if-picker-time-panel {
		min-width: 60px;
		height: unset !important;

		.if-picker-header {
			padding: 0;
		}

		.if-picker-content {
			height: 182px;

			.if-picker-time-panel-column {
				width: unset;
				padding: 0 2px;
				margin: 0;
				scrollbar-width: none;

				&::after {
					display: none;
				}

				.if-picker-time-panel-cell {
					margin-inline: 0;
					padding: 1px 0;

					&:first-child {
						padding: 0;

						.if-picker-time-panel-cell-inner {
							height: 26px;
							line-height: 26px;
						}
					}

					&.if-picker-time-panel-cell-selected {
						.if-picker-time-panel-cell-inner {
							background-color: transparent;
							border-bottom: 1px solid var(--color_text);
							font-weight: bold;
						}
					}

					.if-picker-time-panel-cell-inner {
						width: 24px;
						height: 24px;
						padding: 0;
						margin: 0 auto;
						text-align: center;
						border-radius: 0;
						border-bottom: 1px solid transparent;
						box-sizing: border-box !important;

						&:hover {
							background-color: transparent;
							border-bottom-color: var(--color_text_grey);
						}
					}
				}
			}
		}
	}

	.if-picker-footer {
		min-height: unset;
		display: flex;
		justify-content: center;
		align-items: center;

		.if-picker-today-btn {
			padding-top: 6px;
			padding-bottom: 3px;
			line-height: 1;
			color: var(--color_text);
			font-weight: 500;
		}

		.if-picker-ranges {
			width: 100%;
			padding: 3px 9px;
			margin-top: 3px;
			align-items: center;

			.if-picker-now {
				line-height: 1;
				display: flex;
				align-items: center;
				margin-left: -2px;
			}

			.if-picker-ok {
				margin: 0;
				margin-right: -2px;

				button {
					display: flex;
					justify-content: center;
					align-items: center;
					line-height: 1;
					font-size: 12px;
					height: 18px;
					border: 1px solid var(--color_text);
					border-bottom-width: 2px;
					background-color: var(--color_text);
					color: var(--color_bg);
					border-radius: 9px;

					&:disabled {
						opacity: 0.3;
					}

					&:hover {
						background-color: var(--color_text) !important;
						color: var(--color_bg);
						outline: 3px solid var(--color_border);
					}
				}
			}
		}
	}

	.if-picker-presets {
		min-width: unset !important;
		font-size: 12px;
		background-color: var(--color_bg_1);

		ul {
			padding: 6px !important;

			li {
				padding: 2px 6px !important;
				margin: 0 !important;
			}
		}
	}
}
