.if-picker {
	&.if-picker-borderless {
		&.if-picker-focused {
			.if-picker-input {
				overflow: visible;

				input {
					text-decoration: underline;
					text-underline-offset: 2px;
				}
			}
		}
	}
}

.if-picker-dropdown {
	&.disable_second {
		.if-picker-time-panel {
			.if-picker-content {
				.if-picker-time-panel-column {
					&:last-child {
						display: none;
					}
				}
			}
		}

		.if-picker-footer {
			.if-picker-ranges {
				justify-content: flex-end;

				.if-picker-now {
					display: none;
				}
			}
		}
	}

	.if-picker-header-view {
		line-height: 32px;

		button {
			line-height: 32px;
		}
	}

	.if-picker-body {
		padding: 0 6px !important;
	}

	.if-picker-content {
		th {
			height: 26px;
			padding-top: 2px !important;
		}

		td {
			padding: 2px 0;

			&:first-child {
				&::before {
					border-top-left-radius: 3px !important;
					border-bottom-left-radius: 3px !important;
				}
			}

			&:last-child {
				&::before {
					border-top-right-radius: 3px !important;
					border-bottom-right-radius: 3px !important;
				}
			}

			&.if-picker-cell-in-view.if-picker-cell-selected {
				.if-picker-cell-inner {
					border-radius: 50%;
					color: unset;
					background: var(--color_bg_2);
				}
			}

			&.if-picker-cell-today {
				.if-picker-cell-inner {
					display: flex;
					justify-content: center;
					font-weight: 500;

					&::before {
						display: none;
					}

					&::after {
						position: absolute;
						bottom: 2px;
						width: 3px;
						height: 3px;
						border-radius: 50%;
						background-color: var(--color_text);
						content: '';
					}
				}
			}
		}
	}

	.if-picker-week-panel-row-hover {
		td {
			&.if-picker-cell {
				&::before {
					background-color: var(--color_bg_2);
				}

				.if-picker-cell-inner {
					color: var(--color_text);
				}
			}
		}
	}

	.if-picker-time-panel {
		.if-picker-content {
			height: 206px;
		}
	}

	.if-picker-time-panel-column {
		display: flex;
		flex-direction: column;
		width: 36px;
		margin: 0;
		scrollbar-width: none;

		.if-picker-time-panel-cell {
			margin: 0 !important;

			.if-picker-time-panel-cell-inner {
				width: 100% !important;
				height: 30px !important;
				line-height: 30px !important;
				padding-left: 0 !important;
				border-radius: 0 !important;
				text-align: center;
			}
		}
	}

	.if-picker-panel-container {
		.if-picker-presets {
			ul {
				padding: 0;

				li {
					padding: 4px 12px;
					margin: 0 !important;
					border-radius: 0;
				}
			}
		}
	}

	.if-picker-month-panel {
		.if-picker-body {
			padding: 6px !important;
		}

		.if-picker-content {
			height: unset;

			.if-picker-cell {
				padding: 6px 0;

				&.if-picker-cell-in-view.if-picker-cell-selected {
					.if-picker-cell-inner {
						border-radius: 30px;
					}
				}

				.if-picker-cell-inner {
					border-radius: 30px;
				}
			}
		}
	}
}
