.if-message {
	top: initial !important;
	bottom: 0px !important;

	.if-message-notice-wrapper {
		.if-message-notice {
			padding: 0 !important;
			margin-top: -8px;
			text-align: right !important;

			&-success {
				.if-message-notice-content {
					background-color: var(--color_success);
				}
			}

			&-warning {
				.if-message-notice-content {
					background-color: var(--color_warning);
				}
			}

			&-error {
				.if-message-notice-content {
					background-color: var(--color_danger);
				}
			}

			.if-message-notice-content {
				padding: 3px 6px;
				border-radius: 4px;
				color: white;
				font-size: 12px;
				font-weight: 500;

				.if-message-custom-content {
					display: flex;
					align-items: center;

					.if-icon {
						font-size: 12px;
						margin-inline-end: 4px;
						color: white;
					}
				}
			}
		}
	}
}
