.if-popover {
	.if-popover-arrow::after {
		box-shadow: var(--shadow);
	}

	.if-popover-inner {
		padding: 0;
		border-radius: var(--radius);
		box-shadow: var(--shadow);
	}

	&.border_popover {
		.if-popover-content {
			.if-popover-inner {
				border: var(--border);
			}
		}

		.if-popover-arrow {
			top: 18px;
			left: -7px !important;
			width: 0;
			height: 0;
			overflow: visible;

			&::before {
				clip-path: unset;
				inset-inline-start: unset;
				position: absolute;
				z-index: 1;
				right: -7px;
				bottom: -7px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 6px 8px 6px;
				border-color: transparent transparent var(--color_border_light) transparent;
				background-color: unset;
			}

			&::after {
				clip-path: unset;
				inset-inline: unset;
				position: absolute;
				margin: unset;
				transform: unset;
				border-radius: unset;
				z-index: 1;
				right: -7px;
				bottom: -8px;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 6px 8px 6px;
				border-color: transparent transparent var(--color_bg) transparent;
				background-color: unset;
				box-shadow: unset;
			}
		}

		&.if-popover-placement-leftTop,
		&.if-popover-placement-left {
			.if-popover-arrow {
				left: 189px !important;
			}
		}

		&.if-popover-placement-rightBottom {
			.if-popover-arrow {
				top: unset !important;
				bottom: 18px !important;
			}
		}
	}
}
