._local {
	padding: 18px 0;
	width: calc(100% - var(--sidebar_width) - var(--dirtree_width));
	left: calc(var(--sidebar_width) + var(--dirtree_width));

	:global {
		.input_add_todo {
			padding: 7px 12px;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			background-color: transparent;
			backdrop-filter: var(--blur);

			&:focus {
				border-color: var(--color_text);
			}
		}

		.options_wrap {
			margin-bottom: 6px;

			.select_type {
				height: 22px;
				margin-right: 3px;

				.if-select-selector {
					height: 22px;
					background-color: var(--color_bg_1) !important;

					&:hover {
						background-color: var(--color_bg_2) !important;
					}

					.if-select-selection-item {
						line-height: 22px;
						font-size: 12px;
					}

					.if-select-item {
						min-height: unset;
						padding: 3px 4px;
					}
				}

				.if-select-dropdown {
					min-width: 72px !important;

					.if-select-item {
						min-height: unset;
						padding: 3px 4px;
						font-size: 12px;

						&-option-selected {
							background-color: transparent;
						}
					}
				}
			}
		}

		.star_wrap {
			padding: 0 12px;
			background-color: var(--color_bg);
			border-radius: var(--radius);

			&::after {
				content: '';
				position: absolute;
				right: 0;
				height: 60%;
				width: 1px;
				background-color: var(--color_border_light);
			}
		}
	}
}

.star {
	display: flex;
	align-items: center;

	:global {
		.if-rate-star {
			font-size: 15px;
			height: 15px;

			div[role='radio'] {
				height: 15px;
			}

			&-second {
				height: 100%;
				color: rgba(var(--color_text_rgb), 0.24);
			}

			&-full {
				.if-rate-star-second {
					color: var(--color_main);
				}
			}
		}
	}
}
