._local {
	padding: 18px 0;
	width: calc(100% - var(--sidebar_width) - var(--dirtree_width));
	left: calc(var(--sidebar_width) + var(--dirtree_width));
	z-index: 90;

	:global {
		.input_add_todo {
			padding: 7px 12px;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			background-color: var(--color_bg);

			&:focus {
				border-color: var(--color_text);
			}
		}

		.options_wrap {
			margin-bottom: 6px;

			.select_type {
				height: 22px;
				margin-right: 3px;

				.if-select-selector {
					height: 22px;
					background-color: var(--color_bg_1) !important;

					&:hover {
						background-color: var(--color_bg_2) !important;
					}

					.if-select-selection-item {
						line-height: 22px;
						font-size: 12px;
					}

					.if-select-item {
						min-height: unset;
						padding: 3px 4px;
					}
				}

				.if-select-dropdown {
					min-width: 72px !important;

					.if-select-item {
						min-height: unset;
						padding: 3px 4px;
						font-size: 12px;

						&-option-selected {
							background-color: transparent;
						}
					}
				}
			}
		}

		.star_wrap {
			border-radius: var(--radius);
		}

		.divide_line {
			width: 1px;
			height: 8px;
			margin: 0 1px;
		}
	}
}
