._local {
	padding: 0 var(--padding);

	:global {
		.textarea {
			min-height: 150px;
			line-height: 1.71;
			padding: 0;
			border-radius: 0;
			outline: none;
			color: rgba(var(--color_text_rgb), 0.6) !important;
			white-space: pre-wrap;
			font-size: 12px;

			&:empty {
				&::after {
					color: var(--color_text_light);
					content: attr(data-placeholder);
				}
			}
		}
	}
}
