._local {
	padding: 0 var(--padding);
	color: rgba(var(--color_text_rgb), 0.6);

	&.in_modal {
		color: var(--color_text);
	}

	:global {
		.textarea {
			min-height: 150px;
			line-height: var(--line_height);
			padding: 0;
			border-radius: 0;
			outline: none;
			white-space: pre-wrap;
			font-size: 12px;
		}

		.textarea_placeholder {
			top: 0;
		}
	}
}
