._local {
	:global {
		.desc_textarea {
			overflow-y: scroll;
			max-height: 150px;
			line-height: var(--line_height);
			padding: 9px 12px;
			border: var(--border_dashed);
			border-radius: var(--radius);
			transition: border ease 0.18s;

			&:focus-within {
				border-color: var(--color_text);
			}
		}

		.desc_textarea_placeholder {
			top: 9px;
		}

		.angles_select {
			.if-select-selection-item {
				height: 24px;
				line-height: 24px;
				font-size: 12px;
			}

			.if-select-dropdown {
				display: none;
			}
		}

		.btn_clean {
			box-shadow: none !important;
		}
	}
}
