._local {
	--size: 3px;
	min-width: 16px;
	padding-right: 8px;

	&.no_padding {
		min-width: unset;
		padding-right: unset;
	}

	&.as_label {
		--size: 2.4px;

		min-width: unset;
		padding-right: unset;
		margin-right: 6px;

		:global {
			.urgent_wrap {
				width: 12px;
				height: 12px;
				border-radius: 2.1px;
				font-size: 10px;
			}
		}
	}

	:global {
		.level_items {
			gap: 2px;

			.level_item {
				width: var(--size);
				border-radius: calc(var(--size) / 2.5);
				background-color: rgba(var(--color_text_rgb), 0.24);

				&:nth-of-type(1) {
					height: calc(2 * var(--size));
				}

				&:nth-of-type(2) {
					height: calc(3 * var(--size));
				}

				&:nth-of-type(3) {
					height: calc(4 * var(--size));
				}

				&.active {
					background-color: rgba(var(--color_text_rgb), 0.66);
				}
			}
		}

		.urgent_wrap {
			width: 14px;
			height: 14px;
			border-radius: 3px;
			color: white;
			background-color: var(--color_warning);
			font-size: 12px;
		}
	}
}
