[data-theme='dark'] {
--color_text:#a2a5b9;
--color_text_sub:#999;
--color_text_grey:#777;
--color_text_contrast:white;
--color_placeholder:#727272;
--color_bg:#232326;
--color_bg_1:#2f2f34;
--color_bg_2:#3b3b41;
--color_border:#404046;
--color_border_light:rgba(255, 255, 255, 0.02);
--color_border_soft:rgba(255, 255, 255, 0.01);
--shadow:0 0 2px #333;
}