[data-theme='dark'] {
	._local {
		:global {
			.menu_items_wrap {
				.menu_item_wrap {
					.menu_item {
						svg {
							path:first-child {
								fill: inherit;
							}
						}
					}
				}
			}
		}
	}
}

._local {
	:global {
		.if-modal-content {
			padding: 24px;
		}

		.slick-dots {
			bottom: 0;

			li {
				width: 12px !important;
				height: 12px;
                        margin-inline: 2px;

				&.slick-active {
					button {
						&::after {
							background-color: rgba(var(--color_text_rgb), 0.8);
						}
					}
				}

				button {
					height: 100%;
					border-radius: 50%;
					position: relative;
					background-color: transparent;

					&:active {
						background-color: rgba(var(--color_text_rgb), 0.18);
					}

					&::after {
						content: '';
						position: absolute;
						top: 3px;
						left: 3px;
						width: 50%;
						height: 50%;
						border-radius: 50%;
						background-color: rgba(var(--color_text_rgb), 0.48);
					}
				}
			}
		}

		.menu_items_wrap {
			padding-bottom: 36px;

			.menu_item_wrap {
				width: calc(100% / 3);
				padding: 6px;

				&:hover {
					.menu_item {
						border: 2px solid var(--color_text);
					}
				}

				&.active {
					.menu_item {
						background-color: var(--color_bg_1);
					}
				}

				.menu_item {
					padding: 18px 0;
					line-height: 1;
					border: 2px solid transparent;
					border-radius: var(--radius);

					svg {
						path:first-child {
							fill: var(--color_main);
						}
					}

					.app_name {
						margin-top: 9px;
						font-size: 12px;
					}
				}
			}
		}
	}
}
