[data-theme='dark'] {
	._local {
		:global {
			.menu_items_wrap {
				.menu_item_wrap {
					.menu_item {
						svg {
							path:first-child {
								fill: inherit;
							}
						}
					}
				}
			}
		}
	}
}

._local {
	:global {
		.menu_items_wrap {
			.menu_item_wrap {
				width: calc(100% / 4);
				padding: 4px;

				&:hover {
					.menu_item {
						border: 2px solid var(--color_text);
					}
				}

				&.active {
					.menu_item {
						background-color: var(--color_bg_1);
					}
				}

				.menu_item {
					padding: 12px 6px;
					line-height: 1;
					border: 2px solid transparent;
					border-radius: var(--radius);

					svg {
						path:first-child {
							fill: var(--color_main);
						}
					}

					.app_name {
						margin-top: 9px;
                                    font-size: 12px;
					}
				}
			}
		}
	}
}
