[data-theme='dark'] {
	._local {
		:global {
			.menu_items_wrap {
				.menu_item_wrap {
					.menu_item {
						line-height: 1;

						svg {
							path:first-child {
								fill: inherit;
							}
						}
					}
				}
			}
		}
	}
}

._local {
	:global {
		.menu_items_wrap {
			padding: 8px;

			.menu_item_wrap {
				width: calc((100% - 16px) / 4 - 12px);
				padding: 16px 8px;
				margin: 0 6px;
				border-radius: var(--radius);
				border: 2px solid transparent;

				&:hover {
					border: 2px solid var(--color_text);
				}

				&.active {
					background-color: var(--color_bg_1);
				}

				.menu_item {
					line-height: 1;

					svg {
						path:first-child {
							fill: var(--color_main);
						}
					}

					.app_name {
						margin-top: 12px;
					}
				}
			}
		}
	}
}
