@keyframes light {
	from {
		clip: rect(96px 96px 96px 0);
	}

	to {
		clip: rect(0 96px 96px 0);
	}
}

._local {
	z-index: 10000;

	&.dark {
		background-color: #232326;

		:global {
			.loading_wrap {
				fill: white;
			}
		}
	}

	:global {
		.loading_wrap {
			width: 96px;
			height: 96px;
			fill: var(--color_main);

			.loading_icon {
				&.top {
					:local {
						animation: light 1.2s infinite;
						animation-direction: alternate-reverse;
					}
				}

				&.bottom {
					opacity: 0.3;
				}
			}
		}

		.desc {
			padding: 4px 6px;
			font-weight: 500;
			line-height: 1;
			margin-top: 12px;
			background-color: var(--color_main);
			color: white;
		}
	}
}
