[submodule "packages/stk"]
	path = packages/stk
	url = git@1yasa:openages/stk.git
      
[submodule "packages/localserver"]
	path = packages/localserver
	url = git@1yasa:openages/localserver.git

[submodule "packages/if_server"]
	path = packages/if_server
	url = git@1yasa:openages/if_server.git

[submodule "packages/if_website"]
	path = packages/if_website
	url = git@1yasa:openages/if_website.git

[submodule "packages/lexical"]
	path = packages/lexical
	url = git@1yasa:openages/lexical.git

[submodule "packages/if_electron"]
	path = packages/if_electron
	url = git@1yasa:openages/if_electron.git

[submodule "packages/if_admin"]
	path = packages/if_admin
	url = git@1yasa:openages/if_admin.git
[submodule "packages/if_releases"]
	path = packages/if_releases
	url = git@1yasa:openages/if_releases.git
