[submodule "packages/craftkit"]
	path = packages/craftkit
	url = git@whatreal:openages/craftkit.git
      
[submodule "packages/mindkit"]
	path = packages/mindkit
	url = git@whatreal:openages/mindkit.git
