# dependencies
node_modules
npm-debug.log*
package-lock.json

# production
**/dist

# misc
.DS_Store
.idea
.vscode
.svn
.swc

# temp
**/.tmp
**/.umi

# Electron 
release
src/main/bundle.js
src/main/bundle.js.map
