._local {
	:global {
		.padding_wrap {
			padding-bottom: 60px;
		}

		.desc_wrap {
			padding: 12px;
			margin-bottom: 18px;
			border-radius: var(--radius_large);
			color: var(--color_text_light);
			background-color: var(--color_bg_1);
			font-size: 12px;

			.link {
				margin: 0 2px;
				color: var(--color_text_light);
				user-select: none;
				text-decoration: underline;

				&:hover {
					color: var(--color_text);
				}
			}
		}

		.price {
			line-height: 1;
			margin-bottom: 30px;

			.value {
				font-size: 3em;
				font-weight: 500;
			}
		}

		.icon_wrap {
			width: 42px;
			height: 42px;
			border-radius: 50%;
		}

		.btn_action {
			height: 42px;
			padding: 0 18px;
			border: none;
			border-radius: 21px;
			background-color: var(--color_bg_1);
			font-family: var(--font_family);
			font-weight: 500;

			&:hover {
				outline: 3px solid var(--color_border);
			}

			&.disabled {
				color: var(--color_text_light) !important;
				background-color: var(--color_bg_2) !important;
			}
		}

		.price_items {
			padding-top: 6px;
			margin-bottom: 18px;
			gap: 18px;

			.price_item {
				width: 50%;
				padding: 36px 18px;
				padding-bottom: 18px;
				border: var(--border);
				border-radius: var(--radius_large);

				&.pro {
					.price {
						.value {
							color: var(--color_main);
						}
					}

					.btn_action {
						color: var(--color_bg);
						background-color: var(--color_text);
					}
				}

				.type {
					margin: 0;
					margin-bottom: 12px;
					font-size: 1.2em;
					font-weight: 500;
				}

				.features {
					.feature {
						margin: 3px 0;

						.icon_check {
							color: var(--color_main);
						}

						.count {
							padding: 1px 6px;
							border-radius: 30px;
							background-color: var(--color_bg_1);
							font-size: 12px;
						}
					}
				}

				.btn_action {
					margin-top: 15px;
				}
			}
		}

		.sponsor_item {
			width: 100%;
			margin-bottom: 30px;
			border: var(--border);
			border-radius: var(--radius_large);

			.header_wrap {
				padding: 12px;
				border-bottom: 1px solid var(--color_border_soft);

				.icon_wrap {
					background-color: var(--color_bg_1);
				}

				.type {
					margin: 0;
					font-size: 1.8em;
					font-weight: 500;
				}

				.price {
					margin-bottom: 0;

					.value {
						font-size: 2.1em;
						font-weight: 500;
					}
				}
			}

			.content_wrap {
				padding: 12px 18px;

				.btn_action {
					color: var(--color_bg);
					background-color: var(--color_text);
				}

				.content_item {
					padding-bottom: 12px;
					margin-bottom: 12px;
					border-bottom: 1px dashed var(--color_border_soft);

					.title {
						margin-bottom: 6px;
						font-size: 16px;
						font-weight: 500;
					}

					.items_wrap {
						padding-left: 15px;
						margin: 0;
						border-radius: var(--radius);
						font-size: 13px;

						.item {
							margin: 4px 0;
						}
					}
				}

				.desc {
					color: var(--color_text_light);
					font-size: 12px;
				}
			}
		}

		.infinity_item {
			width: 100%;
			border-radius: var(--radius_large_2);
			color: white;
			background-image: linear-gradient(to right, red, blue);

			.header_wrap {
				padding: 18px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.15);

				.icon_wrap {
					background-color: rgba(255, 255, 255, 0.3);
				}

				.type {
					margin: 0;
					font-size: 1.8em;
					font-weight: 500;
				}

				.btn_join {
					width: 120px;
					height: 42px;
					border-radius: 21px;
					color: white;
					background-color: rgba(255, 255, 255, 0.3);
					font-weight: 500;

					&:hover {
						background-color: rgba(0, 0, 0, 0.3);
					}
				}
			}

			.desc {
				padding: 18px;
			}
		}
	}
}

.empty {
	color: var(--color_text_light);

	:global {
		.desc {
			font-size: 12px;
		}
	}
}
