._local {
	padding: 0 calc(var(--limited_padding) - 6px);

	:global {
		.nav_items {
			&.dark {
				.nav_item_wrap {
					.nav_item {
						svg {
							path:first-child {
								fill: inherit;
							}
						}
					}
				}
			}

			.nav_item_wrap {
				width: calc(100% / 3);
				padding: 6px;

				.nav_item {
					padding: 29px 0;
					background-color: var(--color_bg_1);
					border-radius: var(--radius_large);
					border: 1px solid transparent;

					&:hover {
						border-color: var(--color_text);
					}

					svg {
						path:first-child {
							fill: var(--color_main);
						}
					}

					.title {
						font-size: 16px;
						font-weight: 500;
					}
				}
			}
		}
	}
}
