._local {
	overflow-y: hidden;

	:global {
		.input_search_wrap {
			margin: 12px 0;

			.input_search {
				height: 36px;
				padding-right: 72px;
				padding-left: 32px;
				border: none;
				border-radius: var(--radius);
				outline: none;
				background-color: var(--color_bg_1);

				&:focus {
					& + .icon_search {
						color: var(--color_text);
					}
				}
			}

			.icon_search {
				left: 9px;
				color: var(--color_text_light);
				transition: color ease 0.18s;
			}

			.search_type {
				right: 9px;
				width: 60px;

				.if-select-selector {
					padding: 0;
					color: var(--color_text_light);

					.if-select-selection-item {
						padding-right: 27px;
						text-align: right;
					}
				}
			}
		}
	}
}

.content {
	overflow-y: scroll;
	min-height: 72px;
	max-height: 60vh;
	font-size: 12px;

	&.only_files {
		:global {
			.latest_items_wrap {
				width: 100%;
			}
		}
	}

	:global {
		.latest_items_wrap {
			width: calc(50% - 6px);

			.latest_title {
				color: var(--color_text_light);
				font-size: 12px;
			}

			.target_item {
				padding: 6px 0;
				border-bottom: var(--border_dashed);

				&:hover {
					border-bottom-color: var(--color_text);
				}

				&:last-child {
					margin-bottom: 18px;
				}

				.file_wrap {
					line-height: 1;
					padding-bottom: 3px;
					opacity: 0.48;

					.file_name {
						font-size: 10px;
					}

					.icon_wrap {
						margin-top: -2px;
						margin-left: -1px;
					}
				}

				.target_icon_wrap {
					margin-left: -1px;

					span {
						margin-top: -1px;
					}
				}

				.update_at {
					line-height: 13px;
					opacity: 0.48;
					font-size: 10px;
				}
			}
		}

		.empty {
			padding-top: 30px;
			padding-bottom: 42px;
		}
	}
}
