._local {
	:global {
		.list_item_wrap {
			margin-top: 6px;

			&:first-child {
				margin-top: 0;
			}

			.color_picker {
				width: 36px;
				height: 36px;
				padding: 8px;
				border: 1px dashed var(--color_border);

                        &:hover {
                              border-color: var(--color_text_grey);
				}

				.ant-color-picker-color-block {
					height: 20px;
					border-radius: 50%;
				}
			}

			.ant-color-picker-slider-container {
				padding: 0 12px;
				margin-bottom: 0 !important;
			}

			.ant-color-picker-input-container {
				padding: 12px;
			}

			.input {
				width: calc(100% - 42px * 4 - 96px);
				height: 36px;
			}

			.preview_wrap {
				width: 90px;
				height: 36px;
				padding: 6px;
				border: 1px dashed var(--color_border);
				border-radius: var(--radius);

                        &:hover{
                              border-color: var(--color_text_grey);

                              .tag {
                                    background-color: var(--tag_hover_color) !important;
                              }
                        }

				.tag {
					border-radius: var(--radius_small);
					font-size: 12px;
					font-weight: bold;
                              overflow: hidden;
				}
			}

			.btn {
				width: 36px;
				height: 36px;
				border-radius: var(--radius);
				border: 1px dashed var(--color_border);

				&:hover {
                              border-color: var(--color_text_grey);
				}

				&.disabled {
					svg {
						opacity: 0.3;
					}
				}
			}
		}
	}
}
