._local {
	width: calc(100% + 6px);
	margin-left: -3px;

	:global {
		.app_module_item_wrap {
			width: calc(100% / 2);
			padding: 3px;

			.app_module_item {
				padding: 12px 18px;
				background-color: var(--color_bg_1);
				border-radius: var(--radius);

				.if-switch {
					.if-switch-inner {
						padding: 0;
					}

					&-checked {
						.if-switch-inner {
							padding-right: 18px;
							padding-left: 4px;
						}
					}
				}

				.btn_drag {
					padding: 4px;
					border: 1px solid var(--color_border);
					border-radius: var(--radius);
					cursor: grab;

					&:hover {
						background-color: var(--color_bg_2);
					}
				}
			}
		}
	}
}
