._local {
	:global {
		.nav_bar_item_wrap {
			&.drag_overlay {
				border-color: var(--color_text);

				.name_wrap {
					overflow: hidden;
					max-width: 90px;
				}

				.btn_remove {
					display: none !important;
				}
			}
		}
	}
}

.placeholder {
	:global {
		.drag_handler {
			height: 36px;
		}

		.btn_homepage {
			bottom: 18px;
			color: var(--color_text_light);

			&:hover,
			&.active {
				color: var(--color_text);
			}

			.icon {
				display: flex;
				margin-bottom: 3px;
				font-size: 18px;
			}

			.text {
				line-height: 1;
				user-select: none;
				font-size: 10px;
			}
		}
	}
}
