._local {
	background-color: var(--color_bg);
	z-index: 1000000;

	:global {
		.error_wrap {
			line-height: 1;

			.img {
				max-width: 180px;
				margin-bottom: 12px;
			}

			.title {
				font-size: 16px;
				margin-bottom: 9px;
			}

			.desc {
				margin-bottom: 18px;
			}

			.actions_wrap {
				.btn {
					width: 90px;
					height: 30px;
					border-radius: var(--radius);
					background-color: transparent;
					border: var(--border);

					&:hover {
						border-color: var(--color_text);
					}
				}
			}
		}
	}
}
