._local {
      width: calc(100% + 6px);
	margin-left: -3px;

	:global {
            .row_item_wrap{
                  width: calc(100% / 2);
			padding: 3px;
                  
                  .row_item {
                        padding: 12px;
                        background-color: var(--color_bg_1);
				border-radius: var(--radius);
                        line-height: 1;
      
                        .key_action {
                              font-size: 10px;
                              padding: 2px 4px;
                              border: 1px dashed var(--color_border);
                              border-radius: var(--radius_small);
                        }
      
                        .key_bindings {
                              .key {
                                    font-size: 10px;
                                    font-weight: bold;
                                    padding: 2px 4px;
                                    background-color: var(--color_bg_1);
                                    border: 1px solid var(--color_border);
                                    border-bottom-width: 2px;
                                    border-radius: var(--radius_small);
                              }
                        }
                  }
            }
	}
}
