._local {
	:global {
		.statement {
			margin-top: 12px;
		}
		.media_wrap {
			margin-top: 12px;
			font-size: 12px;

			.media_item {
				margin: 0 6px;
				text-decoration: underline;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
