._local {
	&.no_dirtree {
		:global {
			.if-drawer-content-wrapper {
				width: var(--sidebar_width) !important;
			}

			.group_items {
				padding: 18px 12px;
				padding-top: 36px;

				.group_item {
					.group_name {
						text-align: center;
					}

					.menu_items_wrap {
						.menu_item {
							align-items: center;
							flex-direction: column;
							justify-content: center;

							&.active {
								&::after {
									left: -6px;
								}
							}

							.app_name {
								margin-top: 6px;
								margin-left: 0;
								font-size: 10px;
							}
						}
					}
				}
			}
		}
	}

	:global {
		.if-drawer-mask {
			background-color: transparent !important;
		}

		.if-drawer-content-wrapper {
			width: calc(var(--sidebar_width) + var(--dirtree_width)) !important;
			padding: 0;
			box-shadow: var(--shadow) !important;
			backdrop-filter: var(--blur);

			.if-drawer-content {
				padding: 0;
				background-color: rgba(var(--color_bg_rgb), 0.6);

				.if-drawer-body {
					padding: 0;
				}
			}
		}

		.group_items {
			padding: 18px 24px;
			padding-top: 36px;
			user-select: none;

			.group_item {
				margin-bottom: 24px;

				.group_name {
					padding: 0 6px;
					margin-bottom: 6px;
					color: var(--color_text_grey);
					font-size: 12px;
				}

				.menu_items_wrap {
					.menu_item {
						line-height: 1;
						padding: 6px;
						border: 2px solid transparent;
						border-radius: var(--radius);

						&:hover {
							outline: 1px dashed rgba(var(--color_text_rgb), 0.12);
						}

						&.active {
							&::after {
								position: absolute;
								left: -12px;
								width: 3px;
								height: 18%;
								border-radius: var(--radius_small);
								background-color: var(--color_text_light);
								content: '';
							}

							&.current {
								&::after {
									background-color: var(--color_text);
								}
							}
						}

						.icon_wrap {
							width: 36px;
							height: 36px;
							border-radius: var(--radius);
							background-color: rgba(var(--color_text_rgb), 0.06);
						}

						.app_name {
							margin-left: 18px;
						}
					}
				}
			}
		}
	}
}
