._local {
	bottom: 12px;
	right: 12px;
	z-index: 1000;

	:global {
		.btn_add {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: var(--color_bg);
			box-shadow: var(--shadow);
			border: var(--border);
		}
	}
}
