.position_wrap {
	overflow: hidden;
}

._local {
	overflow: scroll;

	&.narrow {
		--limited_padding: 30px;
	}

	:global {
		.if-modal-root {
			.if-modal-mask,
			.if-modal-wrap {
				position: absolute;
			}
		}
	}
}
