._local {
	width: 324px;

	:global {
		.rc-slider-captcha {
			margin-bottom: 18px;

			.rc-slider-captcha-control {
				border: none !important;
			}

			.rc-slider-captcha-control-indicator {
				border: none !important;
			}

			.rc-slider-captcha-panel {
				padding-bottom: 12px;
			}

			.rc-slider-captcha-button {
				box-shadow: none !important;
			}
		}

		.form_wrap {
			.input_wrap {
				position: relative;
				margin-bottom: 12px;

				&::after {
					position: absolute;
					z-index: 1;
					top: 13.2px;
					left: 40px;
					color: var(--color_text);
					content: attr(data-placeholder);
					transition: all ease 0.3s;
					text-transform: capitalize;
				}

				&.has_value,
				&.focused {
					&::after {
						top: 7.2px;
						font-size: 11px;
					}
				}

				&.captcha_code {
					.if-input-affix-wrapper {
						width: calc(100% - 120px - 12px);
					}
				}

				&.focused {
					.if-input-affix-wrapper {
						border: 1px solid var(--color_text) !important;
						box-shadow: none !important;
					}
				}

				.btn_send {
					z-index: 2;
					top: 0;
					right: 0;
					width: 120px;
					height: 100%;
					box-sizing: border-box;
					border: none;
					border-radius: var(--radius);
					background-color: var(--color_bg_1);
					background-repeat: no-repeat;
					background-size: 100% 100%;

					&:hover {
						border: 1px solid var(--color_text);
					}
				}
			}

			.if-input-affix-wrapper {
				height: 50px !important;
				box-sizing: border-box;
				border: 1px solid transparent !important;
				background-color: var(--color_bg_1);

				.if-input-prefix {
					padding-right: 3px;

					i {
						color: var(--color_text);
						transition: color ease 0.3s;
					}
				}

				.if-input {
					background-color: transparent;
				}
			}

			.btn_login {
				height: 44px;
				font-weight: 600;
				backdrop-filter: var(--blur);

				&.disabled {
					background-color: rgba(var(--color_main_rgb), 0.3);
				}
			}
		}
	}
}
