._local {
	width: 324px;

	:global {
		.rc-slider-captcha {
			.rc-slider-captcha-control {
				border: none !important;
			}

			.rc-slider-captcha-control-indicator {
				border: none !important;
			}

			.rc-slider-captcha-panel {
				padding-bottom: 12px;
			}

			.rc-slider-captcha-button {
				box-shadow: none !important;
			}
		}

		.form_wrap {
			.input_wrap {
				margin-bottom: 12px;

				.btn_send {
					z-index: 2;
					top: 0;
					right: 0;
					width: 120px;
					height: 100%;
					box-sizing: border-box;
					border: none;
					border-radius: var(--radius);
					background-color: var(--color_bg_1);
					background-repeat: no-repeat;
					background-size: 100% 100%;

					&:hover {
						border: 1px solid var(--color_text);
					}
				}
			}

			.if-input-affix-wrapper {
				position: relative;
				height: 50px !important;
				box-sizing: border-box;
				border: 1px solid transparent !important;
				background-color: var(--color_bg_1);

				&::after {
					position: absolute;
					top: 12px;
					left: 40px;
					color: var(--color_text);
					transition: all ease 0.3s;
				}

				&.input_email {
					&::after {
						content: '邮箱';
					}
				}

				&.input_password {
					&::after {
						content: '密码';
					}
				}

				&.input_confirm_password {
					&::after {
						content: '确认密码';
					}
				}

				&.input_captcha_code {
					width: calc(100% - 120px - 12px);

					&::after {
						content: '验证码';
					}
				}

				&.has_value {
					&::after {
						top: 4.8px;
						font-size: 11px;
					}

					.if-input {
						margin-top: -1.5px;
					}
				}

				&-focused {
					border: 1px solid var(--color_text) !important;
					box-shadow: none !important;

					&::after {
						top: 4.8px;
						font-size: 11px;
					}

					.if-input-prefix {
						svg {
							color: rgba(var(--color_main), 1) !important;
						}
					}

					.if-input {
						margin-top: -1.5px;
					}
				}

				.if-input-prefix {
					padding-right: 5px;

					i {
						color: var(--color_text);
						transition: color ease 0.3s;
					}
				}

				.if-input {
					background-color: transparent;
				}
			}

			.btn_login {
				height: 44px;
				margin-top: 18px;
				font-weight: 600;
				backdrop-filter: var(--blur);

				&.disabled {
					background-color: rgba(var(--color_main_rgb), 0.3);
				}
			}
		}
	}
}
