._local {
	:global {
		.avatar {
			width: 90px;
			height: 90px;
		}

		.btn_change_avatar {
			padding: 6px 12px;
			border: var(--border);
			border-radius: var(--radius);
			background-color: transparent;
			font-size: 12px;

			&:hover {
				border-color: var(--color_text);
			}
		}

		.email {
			font-size: 12px;
		}

		.btn_signout {
			padding: 3px 6px;
			border: 1px solid var(--color_danger);
			border-radius: var(--radius_small);
			color: var(--color_danger);
			background-color: transparent;
			font-size: 12px;

			&:hover {
				color: white;
				background-color: var(--color_danger);
			}
		}
	}
}
