._local {
	:global {
		.avatar_wrap {
			&.edit_mode {
				.avatar {
					border-radius: var(--radius_large) !important;
				}
			}

			.avatar {
				width: 90px;
				height: 90px;
			}

			.btn_change_avatar {
				right: 4.5px;
				bottom: 4.5px;
				width: 18px;
				height: 18px;
				padding: 0;
				border: none;
				border-radius: 30px;
				color: var(--color_bg);
				background-color: rgba(var(--color_text_rgb), 0.48);
				backdrop-filter: var(--blur);

				&:hover {
					background-color: rgba(var(--color_text_rgb), 0.6);
				}
			}
		}

		.input_name {
			width: 90px;
			height: 24px !important;
			margin: 6px 0;
			border-style: solid;
			border-radius: 24px;
			background-color: transparent;
			text-align: center;
		}

		.name {
			line-height: 1;
			margin: 3px 0;
			font-size: 18px;
			font-weight: 500;
		}

		.email {
			font-size: 12px;
		}

		.actions_wrap {
			right: 0;
			bottom: -36px;
			color: var(--color_text_light);

			.action_items {
				gap: 12px;

				.action_item {
					width: 45px;
					height: 45px;

					&:hover,
					&.active {
						color: var(--color_text);
					}

					.icon {
						margin-bottom: 3px;
						font-size: 18px;
					}

					.text {
						line-height: 1;
						font-size: 10px;
					}
				}
			}
		}

		.activate_wrap {
			width: 150px;
			margin-bottom: 12px;

			.if-input {
				height: 32px;
				margin-bottom: 9px;
				border-style: solid;
				text-align: center;
			}

			.if-btn {
				height: 30px;
			}
		}
	}
}
