._local {
	:global {
		.datepicker {
			padding: 0;

			.if-picker-input {
				input {
					text-align: center;
				}
			}
		}

		.if-picker-footer {
			padding-bottom: 9px;

			.if-picker-footer-extra {
				line-height: 1;
			}
		}
	}
}
