._local {
	&.sticky {
		position: sticky;
		z-index: 100;
		top: 0;
	}

	&.useByKanban {
		:global {
			.kanban_item_header {
				.btn_insert {
					background-color: var(--color_bg_1);

					&:hover {
						background-color: var(--color_bg_2);
					}
				}
			}
		}
	}

	:global {
		.kanban_item_header {
			height: 36px;
			line-height: 1;
			padding: 0 24px;
			background-color: var(--color_bg_1);

			.left_wrap {
				.progress_wrap {
					width: 24px;
				}

				.name {
					text-transform: capitalize;
				}

				.count {
					padding: 2px 0;
					border-radius: 30px;
					color: rgba(var(--color_text_rgb), 0.72);
					background-color: var(--color_bg_1);
				}
			}

			.btn_insert {
				width: 21px;
				height: 21px;
				border-radius: var(--radius_small);
				color: rgba(var(--color_text_rgb), 0.81);
				font-size: 12px;

				&:hover {
					background-color: var(--color_bg);
				}
			}
		}
	}
}
