.todo_item_wrap {
	height: 42px;
	padding: 0 24px;
	border-bottom: 1px solid rgba(var(--color_text_rgb), 0.03);

	&.is_over {
		position: relative;

		:global {
			.over_line {
				bottom: -5px;
				left: 0;
				height: 1px;
				background-color: var(--color_text);

				&::before,
				&::after {
					position: absolute;
					width: 4px;
					height: 4px;
					box-sizing: border-box;
					border: 1px solid var(--color_text);
					border-radius: 50%;
					content: '';
				}

				&::before {
					left: -4px;
				}

				&::after {
					right: -4px;
				}
			}
		}
	}

	&.checked,
	&.closed {
		:global {
			.dot_wrap {
				user-select: none;
			}

			.action_wrap {
				opacity: 0.3;
			}

			.text_wrap {
				opacity: 0.3;
			}

			.children_wrap {
				.action_wrap {
					opacity: 0.3 !important;
				}

				.text_wrap {
					opacity: 0.3;
				}
			}
		}
	}

	&.closed {
		:global {
			.dot_wrap {
				user-select: none;
			}

			.action_wrap {
				&:hover {
					background-color: unset;
				}
			}
		}
	}

	:global {
		.action_wrap {
			width: 21px;
			height: 21px;
			margin-right: 4px;
			border-radius: 50%;
			color: rgba(var(--color_text_rgb), 0.42);
			font-size: 16px;

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.serial_number {
			width: 48px;
			margin-right: 6px;
			color: rgba(var(--color_text_rgb), 0.66);
			text-transform: uppercase;
			white-space: nowrap;

			.line {
				margin: 0 1.2px;
			}
		}

		.text_wrap {
			flex: 1;
			min-height: unset;
			padding: 0;
			outline: none;

			&.has_children {
				&::before {
					position: absolute;
					top: 4px;
					left: 0;
					height: 14px;
					line-height: 12px;
					box-sizing: border-box;
					padding: 0 3px;
					border: var(--border);
					border-radius: 8px;
					background-color: var(--color_bg_1);
					content: attr(data-children);
					text-indent: unset;
					font-size: 10px;
				}

				.__editor_root {
					p {
						text-indent: 30px;

						> * {
							text-indent: 0;
						}
					}
				}
			}

			&.outdate {
				color: var(--color_danger);
			}

			.__editor_root {
				p {
					transition: text-indent ease 0.18s;
				}
			}
		}
	}
}

:global {
	.options_wrap {
		padding-top: 3px;
		padding-right: 12px;
		padding-bottom: 9px;
		padding-left: 9.6px;
		transition: padding ease 0.3s;

		&.checked,
		&.closed {
			opacity: 0.6;
		}

		.options_content {
			overflow-x: scroll;
		}

		.other_wrap {
			z-index: 1;
			line-height: 1;
			margin-right: 9px;
			margin-bottom: -1px;
			border-radius: 7px;
			color: var(--color_text_grey);
			white-space: nowrap;
			font-size: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
