.todo_item_wrap {
	overflow-x: scroll;
	height: 42px;
	padding: 0 24px;
	border-bottom: var(--border_soft);

	&:hover {
		:global {
			.drag_wrap {
				display: flex;
			}
		}
	}

	&.is_dragging {
		opacity: 0;
		backdrop-filter: var(--blur);
	}

	&.is_over {
		position: relative;

		:global {
			.over_line {
				bottom: 0;
				left: 0;
				height: 1px;
				background-color: var(--color_text);

				&::before,
				&::after {
					position: absolute;
					width: 4px;
					height: 4px;
					box-sizing: border-box;
					border: 1px solid var(--color_text);
					border-radius: 50%;
					background-color: var(--color_bg);
					content: '';
				}

				&::before {
					left: 0;
				}

				&::after {
					right: 0;
				}
			}
		}
	}

	&.checked,
	&.closed {
		:global {
			.dot_wrap {
				user-select: none;
			}

			.action_wrap {
				opacity: 0.3;
			}

			.text_wrap {
				opacity: 0.3;
			}

			.children_wrap {
				.action_wrap {
					opacity: 0.3 !important;
				}

				.text_wrap {
					opacity: 0.3;
				}
			}
		}
	}

	&.closed {
		:global {
			.dot_wrap {
				user-select: none;
			}

			.action_wrap {
				&:hover {
					background-color: unset;
				}
			}
		}
	}

	:global {
		.drag_wrap {
			right: 3px;
			width: 18px;
			height: 18px;
			border-radius: var(--radius_small_1);
			color: rgba(var(--color_text_rgb), 0.42);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.action_wrap {
			min-width: 21px;
			height: 21px;
			margin-right: 4px;
			border-radius: 50%;
			color: rgba(var(--color_text_rgb), 0.42);
			font-size: 16px;

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.serial_number {
			min-width: 48px;
			padding-right: 6px;
			color: rgba(var(--color_text_rgb), 0.66);
			text-transform: uppercase;
			white-space: nowrap;

			.line {
				margin: 0 1.2px;
			}
		}

		.text_wrap {
			overflow: hidden;
			flex: 1;
			min-height: unset;
			margin-right: 12px;
			outline: none;
			text-overflow: ellipsis;
			white-space: nowrap;

			&.outdate {
				color: var(--color_danger);
			}

			.__editor_root {
				white-space: nowrap !important;

				p {
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}

		.options_wrap {
			gap: 3px;

			.option_item {
				height: 26px;
				padding: 0 8px;
				border: var(--border);
				border-radius: 13px;
			}
		}
	}
}
