._local {
	padding: 0 !important;
	border-radius: var(--radius_large);

	:global {
		.input_wrap {
			.icon_search {
				left: 12px;
				color: var(--color_text_light);

				&.focusing {
					color: var(--color_text);
				}
			}

			.input_search {
				height: 46px;
				padding-right: 39px;
				padding-left: 39px;
				border: none;
				border-bottom: var(--border);
				outline: none;
				background-color: transparent;
				box-shadow: none;
			}

			.btn_clear {
				right: 9px;
				width: 21px;
				height: 21px;
				border-radius: 50%;

				&:hover {
					background-color: var(--color_bg_2);
				}
			}
		}

		.search_items_wrap {
			overflow-y: scroll;
			min-height: 300px;
			max-height: 360px;
			padding: 0 12px;
			padding-top: 0;
			color: var(--color_text_sub);

			.search_item {
				padding: 9px 0;
				border-bottom: 1px dashed var(--color_border_light);

				&:last-child {
					&.active {
						margin-bottom: 12px;
					}
				}

				&.active {
					padding-right: 18px;
					border-bottom-style: solid;
					border-bottom-color: var(--color_text);

					.icon_go {
						right: 0px;
						opacity: 1;
					}
				}

				.icon_go {
					opacity: 0;
					transition: opacity ease 0.3s;
				}
			}
		}

		.search_history {
			line-height: 1;
			font-size: 12px;

			.search_history_header {
				padding: 9px 0;

				.btn_clear {
					width: 18px;
					height: 18px;
					margin-right: -2px;
					border-radius: var(--radius_small);
					color: var(--color_text_light);

					&:hover {
						color: var(--color_text);
						background-color: var(--color_bg_2);
					}
				}
			}

			.search_history_item {
				padding: 2px 4px;
				border: var(--border);
				border-radius: 30px;

				&:hover {
					border-color: var(--color_text_softlight);
				}
			}
		}

		.hotkey_wrap {
			padding: 9px 12px;
			color: var(--color_text_light);
			background-color: var(--color_bg_1);
			font-size: 12px;

			.key_item {
				.icon_key_wrap {
					width: 18px;
					height: 18px;
					margin-right: 3px;
					border: var(--border);
					border-bottom: 2px solid var(--color_border);
					border-radius: var(--radius_small);
					background-color: var(--color_bg);
					font-size: 10px;

					&.esc_wrap {
						width: 21px;
					}
				}

				.desc {
					margin-left: 3px;
				}
			}
		}
	}
}
