._local {
	:global {
		.desc_textarea {
			textarea {
				resize: none;
			}

			.if-input-data-count {
				top: -24px;
				bottom: unset;
				font-size: 12px;
			}
		}

		.angles_select {
			.if-select-selection-item {
				height: 24px;
				line-height: 24px;
				font-size: 12px;
			}

			.if-select-dropdown {
				display: none;
			}
		}

		.btn_make {
			height: 36px;
			border-radius: var(--radius);
			border: 1px dashed var(--color_border);

			&:hover {
				border-color: var(--color_text_grey);
			}
		}
	}
}
