._local {
	height: 36px;
	background-color: var(--color_bg);
	border-bottom: var(--border);

	:global {
		.d_line {
			width: 1px;
			height: 15px;
			margin: 0 6px;
			background-color: var(--color_border_light);
		}
	}
}
