._local {
	:global {
		.if-form-item {
			margin-right: 6px;
			margin-bottom: 6px;
			font-size: 12px;
		}

		.input,
		.select,
		.datepicker {
			width: 90px;
		}

		.btn_action {
			width: 60px;
			outline: none;
			font-size: 12px;
		}
	}
}
