._local {
	padding: 0 !important;

	&.useByInput {
		:global {
			.if-picker-input {
				width: unset;

				&:hover {
					border-radius: var(--radius);
					color: rgba(var(--color_text_rgb), 1);
					background-color: var(--color_bg_2);

					.btn_clock {
						color: rgba(var(--color_text_rgb), 1);
					}
				}

				input {
					width: 1px !important;
					margin-right: -1px;
					opacity: 0;
				}
			}

			.if-picker-clear {
				right: 6px;
				border-radius: 50%;
			}
		}
	}

	&.ignoreDetail {
		:global {
			.if-picker-input {
				width: unset;
			}
		}
	}

	&.outdate {
		:global {
			.if-picker-input {
				input {
					color: var(--color_danger);
				}
			}
		}
	}

	&.close {
		:global {
			.if-picker-input {
				input {
					color: var(--color_warning);
				}
			}
		}
	}

	:global {
		.if-picker-input {
			width: 180px;

			input {
				line-height: 1;
				font-size: 12px;
			}
		}

		.if-picker-clear {
			right: 8px;
		}

		.if-picker-suffix {
			margin-left: 0;
		}

		.btn_clock {
			width: 24px;
			height: 24px;
			border-radius: var(--radius);
			color: rgba(var(--color_text_rgb), 0.24);

			&.has_value {
				color: rgba(var(--color_text_rgb), 1);
			}
		}
	}
}
