._local {
	:global {
		.toggle_wrap {
			top: 7px;
			right: 42px;

			.btn_toggle {
				width: 21px;
				height: 21px;
				border-radius: var(--radius_small);

				&:hover {
					background-color: var(--color_bg_2);
				}

				&.disabled {
					opacity: 0.3;
				}
			}
		}

		.detail_item_wrap {
			padding: 18px 0;

			.todo_text_wrap {
				padding: 0 18px;
				margin-bottom: 6px;
				outline: none;
				font-size: 16px;
				font-weight: 500;
			}

			.drag_wrap {
				width: 12px;
				height: 12px;
				top: 7px;
				left: -14px;
				border-radius: var(--radius_small_1);
				background-color: var(--color_bg_2);
				opacity: 0;

				&:hover {
					background-color: rgba(var(--color_text_rgb), 0.12);
				}
			}

			.option_items {
				padding: 0 18px;
				padding-bottom: 7px;

				.option_item {
					height: 30px;

					&.disabled {
						opacity: 0.3;
					}

					.name_wrap {
						width: 90px;

						.name {
							margin-left: 6px;
							font-size: 12px;
						}
					}
				}
			}

			.detail_children_wrap {
				padding: 0 16px;

				&.has_children {
					padding-top: 8px;

					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 20px;
						width: calc(100% - 40px);
						height: 1px;
						background-color: var(--color_border_light);
					}
				}
			}

			.btn_insert {
				height: 36px;
				border-radius: var(--radius_large);
				background-color: var(--color_bg_1);

				.text {
					font-size: 12px;
				}

				&:hover {
					background-color: var(--color_bg_2);
				}
			}
		}
	}
}
