._local {
	:global {
		.toggle_wrap {
			top: 7px;
			right: 42px;

			.btn_toggle {
				width: 21px;
				height: 21px;
				border-radius: var(--radius_small);

				&:hover {
					background-color: var(--color_bg_2);
				}

				&.disabled {
					opacity: 0.3;
				}
			}
		}

		.detail_item_wrap {
			padding: 18px;

			.todo_text_wrap {
				padding: 0;
				margin-bottom: 12px;
				outline: none;
				font-size: 16px;
				font-weight: 500;
			}

			.drag_wrap {
				width: 12px;
				height: 12px;
				top: 7px;
				left: -12px;
				border-radius: var(--radius_small_1);
				background-color: var(--color_bg_2);
				opacity: 0;

				&:hover {
					background-color: rgba(var(--color_text_rgb), 0.12);
				}
			}

			.option_items {
				border-radius: var(--radius);

				.option_item {
					height: 30px;
					padding: 0 9px;

					.name_wrap {
						width: 90px;

						.name {
							margin-left: 6px;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
