@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

._local {
	:global {
		.upload_wrap {
			flex: 1;
			min-width: 320px;

			.upload {
				width: 240px;
				height: 240px;
				border-radius: 50%;
				transition: all 0.18s ease;

				&:hover {
					box-shadow: var(--shadow) inset;
				}

				&::after {
					position: absolute;
					width: 100%;
					height: 100%;
					border: 1px dashed var(--color_text);
					border-radius: 50%;
					content: '';

					:local {
						animation: rotate 60s linear infinite;
					}
				}

				.loading_wrap {
					backdrop-filter: var(--blur);
				}

				.icon {
					font-size: 48px;
				}

				.support_files {
					width: 80%;
					line-height: 1;
					margin-top: 18px;
					font-size: 12px;
					gap: 6px;
				}
			}
		}
	}
}
