.code {
	:global {
		code {
			display: block;
			box-sizing: border-box;
			padding: 12px 15px;
			margin-block-start: 1.2em;
			margin-block-end: 1.2em;
			border: var(--border);
			border-radius: var(--radius);
			font-family: 'CascadiaCode';
			font-size: 14px;
			tab-size: 4;
			caret-color: var(--color_text);
		}
	}
}
