.code {
	:global {
		code {
			font-family: 'CascadiaCode';
		}

		.__editor_code {
			position: relative;
			display: block;
			box-sizing: border-box;
			padding: 15px 18px;
			margin-block-start: var(--editor_padding);
			margin-block-end: var(--editor_padding);
			border: var(--border_light);
			border-radius: var(--radius);
			background-color: var(--color_bg);
			font-family: 'CascadiaCode';
			font-size: 13px;
			tab-size: 4;
			caret-color: var(--color_text);

			&::after {
				position: absolute;
				top: 18px;
				right: 18px;
				color: var(--color_text_light);
				background-color: var(--color_bg);
				content: attr(data-lang);
				font-size: 10px;
			}
		}
	}
}
