.heading {
	:global {
		.__editor_heading {
			&.__editor_fold {
				&::before {
					left: -1em;
				}
			}
			a {
				text-decoration: unset;

				&:hover {
					position: relative;
					color: var(--color_blue);

					&::after {
						position: absolute;
						top: 0;
						right: -15px;
						content: '↗️';
						font-size: 12px;
					}
				}
			}
		}

		.__editor_heading_h1,
		.__editor_heading_h2,
		.__editor_heading_h3,
		.__editor_heading_h4,
		.__editor_heading_h5,
		.__editor_heading_h6 {
			margin-block-start: 0.6em;
			margin-block-end: 0.36em;
			font-weight: 500;
		}

		.__editor_heading_h1 {
			margin-block-start: 0.48em;
		}

		.__editor_heading_h1,
		.__editor_heading_h2 {
			border-bottom: var(--border);
		}

		.__editor_heading_h3 {
			line-height: 1;
			margin-block-start: 0.9em;
		}

		.__editor_heading_h4,
		.__editor_heading_h5,
		.__editor_heading_h6 {
			line-height: 1;
			margin-block-start: 0.6em;
		}
	}
}
