[data-theme='dark'] {
	.init_note {
		&.show_heading_level {
			:global {
				.__editor_heading {
					&::after {
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Cpath fill='none' stroke='rgba(162,165,185,0.48)' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M40 64h176M40 128h64M40 192h64'/%3E%3C/svg%3E");
					}
				}
			}
		}
	}
}

.init_note {
	line-height: 1.8;
	padding-bottom: 60vh;
	font-size: 15px;

	&.serif {
		font-family: 'SourceSerif4', Georgia, ui-serif, serif;

		:global {
			.__editor_heading {
				font-weight: bold;
			}
		}
	}

	&.show_heading_level {
		:global {
			.__editor_heading {
				position: relative;

				&:not(.__editor_fold) {
					&::after {
						left: -3em;
					}
				}

				&:hover,
				&:empty {
					&::after {
						display: none;
					}
				}

				&.__editor_fold {
					&::after {
						left: -4.5em;
					}
				}

				&.__editor_heading_h1 {
					&::after {
						bottom: 1.5em;
					}
				}

				&.__editor_heading_h2 {
					&::after {
						bottom: 1.11em;
					}
				}

				&.__editor_heading_h3 {
					&::after {
						bottom: 0.09em;
					}
				}

				&.__editor_heading_h4 {
					&::after {
						bottom: -0.06em;
					}
				}

				&.__editor_heading_h5 {
					&::after {
						bottom: -0.12em;
					}
				}

				&.__editor_heading_h6 {
					&::after {
						bottom: -0.15em;
					}
				}

				&::after {
					position: absolute;
					overflow: visible;
					line-height: 1;
					padding-top: 7.2px;
					padding-left: 15px;
					color: var(--color_text_light);
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath fill='none' d='M0 0h256v256H0z'/%3E%3Cpath fill='none' stroke='%23ccc' stroke-linecap='round' stroke-linejoin='round' stroke-width='16' d='M40 64h176M40 128h64M40 192h64'/%3E%3C/svg%3E");
					background-repeat: no-repeat;
					background-position: 3px 0;
					background-size: 21px 21px;
					content: attr(data-level);
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
	}

	&.small_text {
		font-size: 13px;
	}

	&.text_mode {
		line-height: inherit;
		font-size: inherit;
	}

	:global {
		div[contenteditable='true'] {
			outline: none;
		}

		p {
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: var(--editor_padding_y);
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;
		}

		.__editor_block {
			padding-inline-start: var(--editor_padding_x);
			padding-inline-end: var(--editor_padding_x);
			margin-block-start: var(--editor_padding_y);
			margin-block-end: var(--editor_padding_y);
			margin-inline-start: 0;
			margin-inline-end: 0;
		}

		.__editor_block_special {
			padding-inline-start: 0;
			padding-inline-end: 0;
			margin-inline-start: var(--editor_padding_x);
			margin-inline-end: var(--editor_padding_x);
		}

		.__editor_hidden {
			display: none;
		}

		.__editor_fold {
			position: relative;
			list-style-type: none;

			&::before {
				position: absolute;
				left: -18px;
				content: '▶  ';
				scale: 72% 100%;
			}
		}
	}
}

.init_text {
	&.linebreak {
		:global {
			p {
				margin-block-start: var(--editor_padding_y);
				margin-block-end: var(--editor_padding_y);
			}
		}
	}

	:global {
		div[contenteditable='true'] {
			outline: none;
		}

		p {
			padding-inline-start: 0;
			padding-inline-end: 0;
			margin-block-start: 0;
			margin-block-end: 0;
			margin-inline-start: 0;
			margin-inline-end: 0;
		}
	}
}
