.list {
	:global {
		.__editor_list_ul,
		.__editor_list_ol {
			padding-inline-start: 15px;
			margin-block-start: var(--editor_padding);
			margin-block-end: var(--editor_padding);

			::marker {
				color: rgba(var(--color_text_rgb), 0.72);
			}
		}

		.__editor_list_ul {
			list-style-type: disc;
		}

		.__editor_list_ol {
			padding-inline-start: 18px;
		}

		.__editor_list_item_nested {
			list-style-type: none;

			&::before,
			&::after {
				display: none !important;
			}

			.__editor_list_ul,
			.__editor_list_ol {
				padding-inline-start: 16px;
				margin-block-start: 0;
				margin-block-end: 0;
			}

			.__editor_list_ol {
				padding-inline-start: 19px;
			}

			.__editor_list_checklist {
				padding-inline-start: 3px !important;
			}
		}

		.__editor_list_checklist {
			padding-inline-start: 0;

			.__editor_list_item {
				position: relative;
				padding-left: 18px;
				outline: none;
				list-style-type: none;

				&::before {
					position: absolute;
					top: 6px;
					left: 0;
					display: block;
					width: 10px;
					height: 10px;
					border: 1px solid var(--color_text);
					border-radius: 1px;
					background-size: cover;
					content: '';
					cursor: pointer;
				}

				&.__editor_list_item_checked {
					opacity: 0.3;

					&::after {
						position: absolute;
						top: 8.5px;
						left: 4.5px;
						display: block;
						width: 2px;
						height: 5px;
						border-width: 0 1px 1px 0;
						border-style: solid;
						border-color: var(--color_text);
						content: '';
						cursor: pointer;
						transform: rotate(45deg);
					}
				}
			}
		}
	}
}
