.table {
	:global {
		.__editor_table {
			display: block;
			overflow: hidden;
			overflow-x: auto;
			max-width: 100%;
			margin-block-start: var(--editor_padding);
			margin-block-end: var(--editor_padding);
			border-collapse: collapse;

			.__editor_table_td {
				--editor_padding: 0;

				min-width: 120px;
				box-sizing: border-box;
				padding: 3px 12px;
				border: 1px solid var(--color_bg_2);
				vertical-align: unset;

				&[width] {
					min-width: 60px;
				}

				&[style] {
					::selection {
						color: var(--color_text);
						background-color: unset;
					}
				}

				&.__editor_table_th {
					background-color: var(--color_bg_1);
					text-align: unset;
					font-weight: 500;

					&[align='left'] {
						text-align: left;
					}

					&[align='center'] {
						text-align: center;
					}

					&[align='right'] {
						text-align: right;
					}
				}
			}
		}
	}
}
