.table {
	:global {
		.__editor_table {
			display: block;
			overflow: hidden;
			overflow-x: auto;
			max-width: 100%;
			border-collapse: collapse;

			.__editor_table_td {
				min-width: 120px;
				box-sizing: border-box;
				padding: 0.3em 0;
				border: 1px solid var(--color_bg_2);
				vertical-align: unset;

				&[width] {
					min-width: 60px;
				}

				&[style] {
					::selection {
						color: var(--color_text);
						background-color: unset;
					}
				}

				&.__editor_table_th {
					background-color: var(--color_bg_1);
					text-align: unset;
					font-weight: 500;

					&[align='left'] {
						text-align: left;
					}

					&[align='center'] {
						text-align: center;
					}

					&[align='right'] {
						text-align: right;
					}
				}

				* {
					--editor_padding_y: 0.3em;
					--editor_padding_x: 0.9em;
				}
			}
		}
	}
}
