.text {
	:global {
		.__editor_text_bold {
			font-weight: bold;
		}

		.__editor_text_italic {
			font-style: italic;
		}

		.__editor_text_strikethrough {
			text-decoration: line-through;
		}

		.__editor_text_underline {
			text-decoration: underline;
		}

		code[data-lexical-text] {
			display: inline-block;
			padding: 0 0.3em;
			border-radius: var(--radius_small);
			background-color: var(--color_bg_2);
			vertical-align: 0.12em;
			font-size: 0.72em;

			span {
				font-family: 'CascadiaCode';
			}
		}
	}
}
