.toggle {
	:global {
		.__editor_toggle {
			position: relative;
			padding: 0 18px;
			margin-block-start: var(--editor_padding);
			margin-block-end: var(--editor_padding);
			border: var(--border_light);
			border-radius: var(--radius);

			&.__editor_toggle_open {
				.__editor_toggle_btn {
					border-bottom-left-radius: var(--radius_small);
					rotate: 0;
				}

				.__editor_toggle_head {
					border-bottom: var(--border_dashed);
				}

				.__editor_toggle_body {
					display: block;
				}
			}

			&.__editor_toggle_close {
				.__editor_toggle_btn {
					border-bottom-right-radius: var(--radius_small);
					rotate: 90deg;
				}

				.__editor_toggle_head {
					border-bottom: none;
				}

				.__editor_toggle_body {
					display: none;
				}
			}

			.__editor_toggle_btn {
				z-index: 1;
				top: 0;
				right: 0;
				overflow: hidden;
				width: 21px;
				height: 21px;
				padding: 0;
				border: none;
				outline: none;
				color: rgba(var(--color_text_rgb), 0.12);
				background-color: transparent;
				user-select: none;

				&:hover {
					color: var(--color_text);
					background-color: var(--color_bg_2);
				}

				&:active {
					border-radius: var(--radius_small);
				}
			}

			.__editor_toggle_head {
				p {
					margin-block-start: 0.6em;
					margin-block-end: 0.6em;
				}
			}
		}
	}
}
