._local {
	border-radius: var(--radius);
	background-color: var(--color_bg_1);

	:global {
		.angle_item_wrap {
			padding: 3px;
			border-top: var(--border_soft);

			&:first-child {
				border-top: none;
			}

			.input {
				width: calc(100% - 32px * 3 - 3px);
				margin-right: 3px;
			}

			.btn {
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				border-radius: var(--radius);
				font-size: 16px;

				&:hover {
					border-color: var(--color_text);
					background-color: var(--color_bg);
				}

				&.disabled {
					svg {
						opacity: 0.3;
					}
				}
			}
		}
	}
}
