._local {
	:global {
		.angle_item_wrap {
			margin-top: 6px;
			gap: 6px;

			&:first-child {
				margin-top: none;
			}

			.input {
				flex: 1;
			}

			.btn {
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				border-radius: var(--radius);
				background-color: var(--color_bg_1);
				font-size: 16px;

				&:hover {
					background-color: var(--color_bg_2);
				}

				&.disabled {
					svg {
						opacity: 0.3;
					}
				}
			}
		}
	}
}
