.Day {
	&.today {
		:global {
			.hours_wrap {
				.hour_item {
					border-bottom: none;
				}
			}
		}
	}

	:global {
		.hours_wrap {
			width: 100%;
			margin-left: -1px;

			&.relax_day {
				background-color: var(--color_bg_1);
			}

			.hour_item {
				height: 48px;
				border-bottom: var(--border_light_dashed);
				border-left: var(--border_light);
			}
		}
	}
}
