.Day {
	padding: 0 1.5px;

	&.today {
		:global {
			.hours_wrap {
				.hour_item {
					background-color: rgba(var(--color_text_rgb), 0.018);
				}
			}
		}
	}

	:global {
		.hours_wrap {
			width: calc(100% + 3px);
			margin-left: -1.5px;

			.hour_item {
				height: 48px;
				border-bottom: var(--border_dashed);
			}
		}
	}
}
