.Day {
	&.today {
		:global {
			.hours_wrap {
				.hour_item {
					background-color: rgba(var(--color_text_rgb), 0.018);
				}
			}
		}
	}

	:global {
		.hours_wrap {
			.hour_item {
				height: 48px;
				border-bottom: var(--border);
				border-left: var(--border);
			}
		}
	}
}
