[data-theme='dark'] {
	.mask {
		background-color: rgba(0, 0, 0, 0.75);
	}
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 1000;

	&.on_body {
		position: fixed;
	}
}

.content_wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1001;
	padding: 60px;
	overflow-y: scroll;

	&.on_body {
		position: fixed;
	}

	&.disableOverflow {
		padding: 0 60px;
	}
}

.content {
	max-height: 100%;
	margin: 0 auto;
	background-color: var(--color_bg);
	border-radius: var(--radius);
	overflow: hidden;

	.header {
		line-height: 1;
		padding: 9px 18px;
		border-bottom: 1px dashed var(--color_border_light);

		:global {
			.title {
				font-size: 16px;
				font-weight: 600;
			}

			.btn_close {
				width: 21px;
				height: 21px;
				margin-right: -3px;
				border-radius: var(--radius);

				&:hover {
					background-color: var(--color_bg_2);
				}
			}
		}
	}

	.body {
		padding: 18px;
		max-height: calc(100% - 40px);
		overflow-y: scroll;

		&.disableOverflow {
			max-height: unset;
			overflow-y: unset;
		}
	}
}
