._local {
	--height_actions: 90px;
	transition: padding 0.3s;

	&.visible_edit_modal {
		padding-right: 90px;
	}

	:global {
		.tray_progress_wrap {
			display: none;
		}

		.page_content_wrap {
			max-width: var(--limited_width);
			padding: 6vh var(--limited_padding);
			padding-top: 0;
			margin: 0 auto;
		}

		.sessions_wrap {
			height: calc(100% - var(--height_actions));
		}
	}
}
