._local {
	max-width: var(--limited_width);
	padding: 60px var(--limited_padding);
	margin: 0 auto;

	--height_actions: 90px;

	:global {
		.sessions_wrap {
			height: calc(100% - var(--height_actions));
		}
	}
}
