._local {
	padding: 0 calc(var(--limited_padding) - 11px);
	padding-top: 36px;
	padding-bottom: 60px;

	:global {
		.stage_wrap {
			top: 36px;
                  left: 33px;
                  z-index: 0;
		}
	}
}
