._local {
	display: flex;
	align-items: center;

	:global {
		.if-rate-star {
			height: 15px;
			font-size: 15px;

			&:not(:last-child) {
				margin-inline-end: 0;
			}

			&-second {
				height: 100%;
				color: rgba(var(--color_text_rgb), 0.24);
			}

			&-full {
				.if-rate-star-second {
					color: var(--color_star);
				}
			}

			div[role='radio'] {
				height: 15px;
			}
		}
	}
}
