._local {
	:global {
		.if-drawer-content-wrapper {
			.if-drawer-content {
				padding: 0;

				.if-drawer-header {
					flex: unset;
					height: 36px;
					padding: 0 18px;
					border-bottom: 1px solid var(--color_border_light);

					&-title {
						margin-bottom: 0;
					}
				}

				.if-drawer-body {
					padding: 0 18px;
				}

				.if-drawer-footer {
					height: 36px;
					padding: 0 18px;
					line-height: 1;
					border-top-style: solid;
				}
			}
		}

		.archive_items {
			padding: 6px 0;
			padding-bottom: 24px;

			.archive_item {
				padding: 6px 0;
				font-size: 12px;
				border-bottom: 1px dashed var(--color_border_light);

				&:hover {
					.action_wrap {
						display: flex;
					}
				}

				&.closed {
					.text {
						color: var(--color_text_grey);
						text-decoration: line-through;
					}
				}

				.footer_wrap {
					height: 18px;
				}

				.create_at {
					color: var(--color_text_grey);
				}

				.action_wrap {
					display: none;

					.btn_action {
						padding: 2px 4px;
						border-radius: var(--radius_small);
						line-height: 1;

						&:hover {
							background-color: var(--color_bg_2);
						}
					}
				}
			}
		}

		.end {
			padding-bottom: 24px;
			font-size: 12px;
			color: var(--color_text_grey);

			&.hidden {
				display: none;
			}
		}

		.footer_wrap {
			font-size: 12px;
			color: var(--color_text_grey);

			.select {
				height: 24px;

				.if-select-dropdown {
					min-width: 90px !important;
				}
			}
		}
	}
}
