._local {
	height: 36px;
	line-height: 1;
	border-bottom: var(--border_light);
	background-color: var(--color_bg);
	user-select: none;
	font-size: 12px;

	&.hidden_time_scale {
		:global {
			.weekday_items {
				width: 100%;
			}
		}
	}

	&.timeline {
		:global {
			.btn_now_wrap {
				width: 90px;
				border-right: unset;
			}

			.weekday_items {
				position: relative;
				width: calc(100% - 90px);

				&::after {
					position: absolute;
					bottom: 0;
					left: -1px;
					width: 1px;
					height: 4px;
					background-color: var(--color_border_light);
					content: '';
				}

				.weekday_item {
					position: relative;
					overflow: visible;
					border-right: none;

					&.today {
						&::after {
							bottom: 0px;
							left: -3.5px;
							width: 6px;
							height: 3px;
							border-top-left-radius: 6px;
							border-top-right-radius: 6px;
							background-color: var(--color_text);
						}
					}

					&::after {
						position: absolute;
						right: 0;
						bottom: 0;
						width: 1px;
						height: 4px;
						background-color: var(--color_border_light);
						content: '';
					}

					.date_wrap {
						position: absolute;
						left: -50%;
						width: 100%;
						line-height: 1;
						font-family: var(--font_serif);

						&.today {
							.week_info,
							.date {
								font-weight: bold;
							}
						}

						.week_info {
							margin-bottom: 4px;
							color: var(--color_text);
							font-size: 8px;
						}

						.date {
							color: var(--color_text);
							font-size: 12px;
						}
					}
				}
			}
		}
	}

	:global {
		.btn_now_wrap {
			width: 48px;
			border-right: var(--border_light);
		}

		.weekday_items {
			width: calc(100% - 48px);

			.weekday_item {
				overflow: hidden;
				padding: 0 9px;
				border-right: var(--border_light);
				white-space: nowrap;

				&.today {
					font-weight: 500;
				}

				&.relax_day {
					background-color: var(--color_bg_1);
				}

				&.hidden_time_scale {
					justify-content: center;
				}

				&.fixed_view {
					justify-content: center;
				}

				.date {
					color: var(--color_text_light);
					font-size: 10px;
				}
			}
		}
	}
}
