._local {
	height: 36px;
	background-color: var(--color_bg);
	border-bottom: var(--border);
	font-size: 12px;
	line-height: 1;
	user-select: none;

	&.hidden_time_scale {
		:global {
			.weekday_items {
				width: 100%;

				.weekday_item {
					border-left: none;
					border-right: var(--border);
				}
			}
		}
	}

	&.timeline {
		:global {
			.btn_now_wrap {
				width: 90px;
				border-right: var(--border);
			}

			.weekday_items {
				width: calc(100% - 90px);
			}
		}
	}

	:global {
		.btn_now_wrap {
			width: 48px;
		}

		.weekday_items {
			width: calc(100% - 48px);

			.weekday_item {
				padding: 0 9px;
				border-left: var(--border);
				white-space: nowrap;
				overflow: hidden;

				&.today {
					background-color: rgba(var(--color_text_rgb), 0.018);

					.date {
						font-size: 10px;
						padding: 1px 2px;
						border-radius: 3px;
						color: var(--color_text);
						border: 1px solid var(--color_text);
					}
				}

				&.hidden_time_scale {
					justify-content: center;
				}

				&.fixed_view {
					justify-content: center;
				}

				&.timeline_narrow {
					.date {
						color: var(--color_text);
					}

					&.today {
						background-color: rgba(var(--color_text_rgb), 0.03);

						.date {
							padding: unset;
							border: none;
							border-radius: unset;
							font-size: 12px;
							font-weight: 500;
						}
					}
				}

				.date {
					color: var(--color_text_softlight);
					font-size: 10px;
				}
			}
		}
	}
}
