._local {
	:global {
		.if-modal-header {
			margin-bottom: 12px;
		}

		.if-modal-close {
			right: 15px;
			width: 21px;
			height: 21px;
			background-color: var(--color_bg);
			font-size: 13px;
		}

		.if-input-affix-wrapper {
			width: calc(100% - 38px - 12px);
		}
	}
}
