._local {
	:global {
            .if-modal-close{
                  background-color: var(--color_bg);
            }

            .if-modal-body{
                  padding: 6px 0;
            }

            .if-input-affix-wrapper {
                  width: calc(100% - var(--icon_size) - 12px);
            }
	}
}