.trigger_wrap {
	line-height: 1;
	font-size: 12px;

	:global {
		.btn_cycle {
			width: 24px;
			height: 24px;
			border-radius: var(--radius);
			color: rgba(var(--color_text_rgb), 0.24);

			&:hover,
			&.cycle_enabled {
				color: rgba(var(--color_text_rgb), 1);
			}

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.not_enabled {
			color: var(--color_text_light);
		}

		.cycle_desc {
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
}

._local {
	line-height: 1;
	font-size: 12px;

	:global {
		.cycle_input_wrap {
			.radio_group {
				&.specific {
					.if-radio-wrapper {
						width: 100%;
					}
				}

				.if-radio-wrapper {
					width: calc(50% - 1px);
					box-sizing: border-box;
					padding: 6px 12px;
					margin: 0;
					margin-right: 2px;
					margin-bottom: 2px;
					border-radius: var(--radius);
					background-color: var(--color_bg_1);
					font-size: 12px;

					&:hover {
						background-color: var(--color_bg_2);
					}

					&:nth-of-type(2n) {
						margin-right: 0;
					}
				}
			}

			.head_wrap {
				height: 30px;
				border-bottom: var(--border);

				.title_wrap {
					left: 12px;
					line-height: 1;
					font-size: 12px;
					font-weight: 500;
				}

				.type_wrap {
					padding: 3px;
					border-radius: var(--radius_large);
					color: var(--color_text_light);
					background-color: var(--color_bg_1);
					font-size: 10px;

					.type_item {
						padding: 2px 4px;
						border-radius: var(--radius);

						&:hover {
							background-color: var(--color_bg);
						}

						&.active {
							color: var(--color_text);
							background-color: var(--color_bg);
						}
					}
				}

				.switch {
					right: 12px;
				}
			}

			.cycle_input_items {
				width: 210px;
				padding: 12px;

				.cycle_wrap {
					.weekdays {
						font-size: 12px;

						.weekday {
							width: 18px;
							height: 18px;
							border: var(--border);
							border-radius: 50%;
							color: var(--color_bg);
							background: var(--color_text);

							&.quarter {
								width: 39px;
								border-radius: var(--radius_large);
							}

							&.exclude {
								color: var(--color_text);
								background: transparent;
							}
						}
					}
				}

				.if-picker {
					height: 30px;
				}

				.if-picker-dropdown {
					width: calc(100% - 24px);

					.if-picker-panel {
						width: 100%;
					}
				}

				.if-input-number {
					input {
						font-size: 12px;
						font-weight: bold;
					}
				}

				.clock_picker {
					.if-picker-footer {
						.if-picker-ranges {
							padding-top: 0 !important;
							margin-top: 0 !important;
						}
					}
				}
			}
		}
	}
}
