.trigger_wrap {
	font-size: 12px;
	line-height: 1;

	:global {
		.btn_cycle {
			width: 24px;
			height: 24px;
			border-radius: var(--radius);
			color: rgba(var(--color_text_rgb), 0.24);

			&:hover,
			&.cycle_enabled {
				color: rgba(var(--color_text_rgb), 1);
			}

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.not_enabled {
			color: var(--color_text_light);
		}

		.cycle_desc {
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}
}

._local {
	font-size: 12px;
	line-height: 1;

	:global {
		.cycle_input_wrap {
			.radio_group {
				.if-radio-wrapper {
					width: calc(50% - 1px);
					padding: 6px 12px;
					margin: 0;
					margin-right: 2px;
					margin-bottom: 2px;
					box-sizing: border-box;
					font-size: 12px;
					background-color: var(--color_bg_1);
					border-radius: var(--radius);

					&:hover {
						background-color: var(--color_bg_2);
					}

					&:nth-of-type(2n) {
						margin-right: 0;
					}
				}
			}

			.head_wrap {
				padding: 6px 12px;
				border-bottom: var(--border);

				.title_wrap {
					font-size: 12px;
					font-weight: 500;
					line-height: 1;
				}
			}

			.cycle_input_items {
				width: 210px;
				padding: 12px;

				.cycle_wrap {
					.weekdays {
						font-size: 12px;

						.weekday {
							width: 18px;
							height: 18px;
							border: var(--border);
							background: var(--color_text);
							color: var(--color_bg);
							border-radius: 50%;

							&.quarter {
								width: 39px;
								border-radius: var(--radius_large);
							}

							&.exclude {
								background: transparent;
								color: var(--color_text);
							}
						}
					}
				}

				.if-input-number {
					input {
						font-size: 12px;
						font-weight: bold;
					}
				}
			}
		}
	}
}
