._local {
	right: 9px;

	:global {
		.if-select {
			display: flex;
			align-items: center;

			&:hover {
				.if-select-arrow {
					border-radius: var(--radius_small);
					opacity: unset;
					background-color: var(--color_bg_2);
				}
			}

			&.has_value {
				display: unset;

				.if-select-selector {
					width: unset;

					.if-select-selection-overflow {
						padding-right: 0;

						.if-select-selection-overflow-item {
							margin-right: 6px;

							&:nth-last-child(2) {
								margin-right: 0;
							}

							.if-select-selection-item {
								height: 18px;
								line-height: 18px;
								padding: 0 4px;
								margin: 0;
								border-radius: var(--radius_small);
								background-color: unset;
								font-size: 12px;

								.if-select-selection-item-content {
									margin-right: 0;
								}

								.if-select-selection-item-remove {
									display: none;
								}
							}
						}

						.if-select-selection-overflow-item-suffix {
							display: none;
						}
					}
				}

				.if-select-clear {
					right: 0;
				}

				.if-select-arrow {
					display: none;
				}
			}

			.if-select-selector {
				width: 24px;
				padding: 0;

				.if-select-selection-overflow {
					.if-select-selection-search {
						display: none;
					}
				}
			}

			.if-select-selection-placeholder {
				display: none;
			}

			.if-select-arrow {
				top: unset;
				height: 24px;
				margin-top: unset;
				inset-inline-end: unset;
				vertical-align: unset;
			}
		}
	}
}

.setting_wrap {
	width: 240px;

	:global {
		.mode_wrap {
			padding: 12px;
			gap: 6px;

			.mode_item_wrap {
				width: calc((100% - 6px) / 2);
				padding: 6px 0;
				border-radius: var(--radius);
				color: var(--color_text_light);
				background-color: var(--color_bg_1);

				&.active {
					color: var(--color_text);
					background-color: var(--color_bg_2);
				}

				svg {
					margin-bottom: 1.5px;
					font-size: 18px;
				}

				.text {
					font-size: 10px;
				}
			}
		}
	}
}
