/** Rubik */
@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'Rubik';
	src:
		local('Rubik'),
		url('./font/Rubik/Rubik-Regular.ttf') format('truetype');
}

@font-face {
	font-weight: 400;
	font-style: italic;
	font-family: 'Rubik';
	src:
		local('Rubik'),
		url('./font/Rubik/Rubik-Italic.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-style: normal;
	font-family: 'Rubik';
	src:
		local('Rubik'),
		url('./font/Rubik/Rubik-Medium.ttf') format('truetype');
}

@font-face {
	font-weight: 500;
	font-style: italic;
	font-family: 'Rubik';
	src:
		local('Rubik'),
		url('./font/Rubik/Rubik-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-style: normal;
	font-family: 'Rubik';
	src:
		local('Rubik'),
		url('./font/Rubik/Rubik-SemiBold.ttf') format('truetype');
}

@font-face {
	font-weight: 600;
	font-style: italic;
	font-family: 'Rubik';
	src:
		local('Rubik'),
		url('./font/Rubik/Rubik-SemiBoldItalic.ttf') format('truetype');
}

/** Material Design Icon */
@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'md_icon_outline';
	src:
		local('md_icon'),
		url('./icon/md_icon_outline.otf') format('opentype');
}

@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'md_icon_filled';
	src:
		local('md_icon'),
		url('./icon/md_icon_filled.ttf') format('truetype');
}

/** Feather Icon */
@font-face {
	font-weight: 400;
	font-style: normal;
	font-family: 'fa_icon';
	src:
		local('fa_icon'),
		url('./icon/fa_icon.woff') format('woff');
}

@font-face {
	font-family: 'EmojiMart';
	src: url('./font/seguiemj.ttf') format('truetype');
}
