/** SourceSans3 */
@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 200;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 200;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 300;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 300;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 400;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 400;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 500;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 500;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 600;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-SemiBold.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 600;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 700;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 700;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 800;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-ExtraBold.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 800;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'SourceSans3';
	font-style: normal;
	font-weight: 900;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'SourceSans3';
	font-style: italic;
	font-weight: 900;
	src:
		local('SourceSans3'),
		url('./font/SourceSans3/SourceSans3-BlackItalic.ttf') format('truetype');
}

/** Code */
@font-face {
	font-family: 'CascadiaCode';
	font-style: normal;
	font-weight: 400;
	src:
		local('CascadiaCode'),
		url('./font/CascadiaCode.woff2') format('woff2');
}

/** Material Design Icon */
@font-face {
	font-family: 'md_icon_outline';
	font-style: normal;
	font-weight: 400;
	src:
		local('md_icon'),
		url('./icon/md_icon_outline.otf') format('opentype');
}

@font-face {
	font-family: 'md_icon_filled';
	font-style: normal;
	font-weight: 400;
	src:
		local('md_icon'),
		url('./icon/md_icon_filled.ttf') format('truetype');
}

/** Feather Icon */
@font-face {
	font-family: 'fa_icon';
	font-style: normal;
	font-weight: 400;
	src:
		local('fa_icon'),
		url('./icon/fa_icon.woff') format('woff');
}

@font-face {
	font-family: 'EmojiMart';
	src: url('./font/seguiemj.ttf') format('truetype');
}
