._local {
	min-height: calc(100vh - 36px - 78px - 36px - 96px);
	padding: 0 calc(var(--limited_padding) - 11px);
	padding-top: 24px;
	padding-bottom: 150px;

	&.kanban_mode {
		height: calc(100% - 30px);
		padding: 0 9px;
		overflow-y: scroll;

		&.isOver {
			padding: 0 20px;

			:global {
				.todo_items_wrap {
					min-height: 100%;
					background-color: var(--color_bg_1);
					border-radius: var(--radius);
				}
			}
		}

		:global {
			.stage_wrap {
				top: 0;
				left: 0;
			}
		}
	}

	:global {
		.stage_wrap {
			top: 24px;
			left: 40px;
			z-index: 0;
		}

		.drag_wrap {
			width: 14px;
			height: 14px;
			border-radius: var(--radius_small_1);
			background-color: var(--color_bg_2);
			opacity: 0;

			&:hover {
				background-color: rgba(var(--color_text_rgb), 0.12);
			}

			&.todo {
				top: 6px;
				left: -30px;
			}

			&.group {
				top: -1px;
				left: -9px;
			}

			&.children {
				width: 12px;
				height: 12px;
				top: 7px;
				left: -10px;
			}
		}
	}
}
