@keyframes testing {
	from {
		opacity: 1;
	}

	to {
		opacity: 0.18;
	}
}

._local {
	:global {
		.content_title {
			line-height: 1;
			margin: 0;
			margin-bottom: 24px;
			font-weight: 400;
		}

		.if-form-item {
			margin-bottom: 12px;

			.if-form-item-control-input-content {
				border-radius: var(--radius);
				background-color: var(--color_bg_1);
			}
		}

		.if-input {
			height: 48px;
		}

		.if-btn {
			height: 48px;
		}

		.header_wrap {
			margin-bottom: 12px;

			.setting_title {
				margin-bottom: 0;

				.btn_test {
					width: 21px;
					height: 21px;
					border-radius: 50%;
					font-size: 14px;

					&:hover {
						background-color: var(--color_bg_1);
					}

					&.untest {
						color: var(--color_text_light);

						&:hover {
							color: var(--color_text);
						}
					}

					&.testing {
						color: var(--color_text);
						background-color: var(--color_bg_1);
						pointer-events: none;

						:local {
							animation: testing 1.2s infinite;
						}
					}

					&.ok {
						color: var(--color_text);
					}

					&.error {
						color: var(--color_danger);
					}
				}
			}

			.action_type_wrap {
				color: var(--color_text_light);
				user-select: none;

				.action_type {
					&.active {
						color: var(--color_text);
					}
				}

				.divider {
					margin: 0 6px;
				}
			}
		}

		.sign_wrap {
			height: calc(100% - 24px);
		}
	}
}
