.group_wrap {
	margin-top: 36px;

	:global {
		.group_title {
			padding: 0 11px;
			margin-bottom: 9px;
			font-size: 12px;
			line-height: 1;
			color: var(--color_text_grey);
			user-select: none;
		}
	}
}

.todo_item {
	padding: 2px 6px;
	border: 1px dashed transparent;
	border-radius: var(--radius);

	&:hover {
		:global {
			.dot_wrap {
				opacity: 1;
			}
		}
	}

	&.checked {
		:global {
			.action_wrap {
				color: var(--color_text_grey);
			}

			.text {
				text-decoration: line-through;
				color: var(--color_text_grey);
			}
		}
	}

	:global {
		.dot_wrap {
			top: 6px;
			left: -9px;
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background-color: rgba(var(--color_text_rgb), 0.12);
			opacity: 0;

			&:hover {
				background-color: rgba(var(--color_text_rgb), 0.24);

				&::after {
					background-color: rgba(var(--color_text_rgb), 0.72);
				}
			}

			&::after {
				content: '';
				width: 4px;
				height: 4px;
				border-radius: 50%;
				background-color: rgba(var(--color_text_rgb), 0.48);
			}

			&.linking {
				opacity: 1;

                        &::after {
					background-color: var(--color_main);
				}
			}
		}

		.action_wrap {
			width: 21px;
			height: 21px;
			margin-top: 0.5px;
			margin-right: 3px;
			border-radius: 3px;
			color: var(--color_text_sub);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.text {
			width: calc(100% - (24px + 4px));
			user-select: none;
			text-underline-offset: 6px;

			&:active {
				text-decoration: var(--color_text_grey) underline solid 1px !important;
			}

			&:hover {
				text-decoration: var(--color_text_grey) underline dashed 1px;
			}
		}
	}
}
