._local {
	:global {
		.app_module_item_wrap {
			margin-bottom: 6px;

			&.isDragging {
				z-index: 100;

				.app_module_item {
					padding: 9px;
					border-radius: var(--radius);
					outline: 1px dashed var(--color_text);
					background-color: transparent;
					backdrop-filter: var(--blur);
				}
			}

			.app_module_item {
				&:hover {
					.btn_drag {
						opacity: 1;
					}
				}

				.btn_drag {
					right: 30px;
					opacity: 0;
					cursor: grab;
				}
			}
		}
	}
}
