@keyframes shaking {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(30deg);
	}
	50% {
		transform: rotate(-30deg);
	}
	75% {
		transform: rotate(18deg);
	}
}

._local {
	white-space: nowrap;

	&.notify {
		color: var(--color_warning) !important;
	}

	&.useByFlat {
		color: rgba(var(--color_text_rgb), 0.72);
		font-size: 12px;
	}

	:global {
		.icon {
			&.timeout {
				color: var(--color_warning);

				:local {
					animation: shaking 1.2s ease-in-out infinite;
				}
			}
		}
	}
}
