._local {
	min-width: 48px;
	margin-right: 2px;

	&.useByTodo {
		--height: 14px;

		min-width: unset;

		:global {
			.tag {
				margin-right: 6px;
				border-radius: 7px;
				font-size: 10px;

				.color {
					width: 6px;
					height: 6px;
					margin-right: 4px;
				}
			}
		}
	}

	&.useByInput {
		--height: 24px;

		min-width: 60px;
		margin-right: 4px;
		margin-left: 0;

		:global {
			.tag {
				padding: 0 8px;
				margin: 0 2px;
				border-radius: 12px;
				background-color: var(--color_bg_1);
				font-size: 12px;

				.color {
					width: 8px;
					height: 8px;
				}
			}
		}
	}

	&.useByTable {
		--height: 14px;

		margin-left: 1px;

		:global {
			.if-select-selector {
				.if-select-selection-overflow {
					justify-content: center;
				}
			}

			.tag {
				padding: 0 4px;
				margin: 0 1px;
				border-radius: 15px;
				background-color: var(--color_bg_1);
				font-size: 10px;
			}
		}
	}

	&.no_suffix {
		:global {
			.if-select-selector {
				padding-inline-end: 0 !important;
			}

			.if-select-arrow {
				display: none;
			}
		}
	}

	:global {
		.if-empty-image {
			margin: 0;
		}

		.if-empty-description {
			display: none;
		}

		.if-select-selector {
			flex-wrap: unset !important;
			width: unset;
			border: none !important;
			background-color: transparent !important;

			.if-select-selection-overflow {
				position: relative;
				flex-wrap: nowrap;
				list-style: none !important;

				&-item-suffix {
					position: absolute;
					left: 0;
				}
			}

			.if-select-selection-placeholder {
				padding-left: 1px;
				inset-inline: 0 !important;
			}
		}

		.tag {
			z-index: 0;
			height: var(--height);
			line-height: 1;
			margin: 0 3px;
			border-radius: var(--radius_small);
			background-color: var(--color_bg);
			font-size: 12px;

			.color {
				width: 6px;
				height: 6px;
				margin-right: 4px;
				border-radius: 50%;
			}

			.btn_close {
				padding: 0px 3px;
				margin-left: 3px;
				border-radius: 50%;

				&:hover {
					outline: 1px dashed;
				}
			}
		}
	}
}

.popup {
	:global {
		.if-select-item {
			min-height: unset;
			padding: 4px 6px;
			font-size: 12px;

			.if-select-item-option-state {
				margin-left: 12px;
			}
		}

		.select_item {
			font-size: 12px;

			.color {
				width: 8px;
				height: 8px;
				margin-right: 6px;
				border-radius: 50%;
			}
		}
	}
}
