._local {
	min-width: 48px;
	margin-right: 2px;

	&.useByDetail {
		--height: 18px;

		:global {
			.tag {
				.btn_close {
					padding: 0px 1px;
				}
			}
		}
	}

	&.useByTodo {
		--height: 14px;

		min-width: unset;
		margin-right: 4px;
		margin-left: 0;

		:global {
			.tag {
				padding: 0 4px;
				margin: 0 1px;
				border-radius: 7px;
				font-size: 10px;
			}
		}
	}

	&.useByTable {
		--height: 14px;

		margin-left: 1px;

		:global {
			.if-select-selector {
				.if-select-selection-overflow {
					justify-content: center;
				}
			}

			.tag {
				padding: 0 4px;
				margin: 0 1px;
				font-size: 10px;
			}
		}
	}

	:global {
		.if-empty-image {
			margin: 0;
		}

		.if-empty-description {
			display: none;
		}

		.if-select-selector {
			flex-wrap: unset !important;
			width: unset !important;
			border: none !important;
			background-color: transparent !important;

			.if-select-selection-overflow {
				position: relative;
				flex-wrap: nowrap;
				list-style: none !important;

				&-item-suffix {
					position: absolute;
					left: 0;
				}
			}

			.if-select-selection-placeholder {
				padding-left: 1px;
				inset-inline: 0 !important;
			}
		}

		.tag {
			z-index: 0;
			height: var(--height);
			line-height: 1;
			padding: 3px 6px;
			padding-right: 4px;
			margin: 0 2px;
			border-radius: var(--radius_small);
			background-color: var(--color_bg);
			font-size: 12px;
			font-weight: 500;

			.btn_close {
				padding: 0px 3px;
				margin-left: 3px;
				border-radius: 50%;

				&:hover {
					outline: 1px dashed;
				}
			}
		}
	}
}
