._local {
	min-width: 48px;
	margin-left: -2px;

	&.useByDetail {
		:global {
			.if-select-selector {
				.if-select-selection-placeholder {
					inset-inline: 0 !important;
				}
			}
		}
	}

	&.useByTodo {
		--height: 14px;

		min-width: unset;
		margin-left: 0;

		:global {
			.tag {
				padding: 0 4px;
				margin: 0 1px;
				font-size: 10px;
				border-radius: var(--radius_large);
			}
		}
	}

	:global {
		.if-empty-image {
			margin: 0;
		}

		.if-empty-description {
			display: none;
		}

		.if-select-selector {
			background-color: var(--color_bg) !important;
		}

		.tag {
			height: var(--height);
			line-height: 1;
			padding: 3px 6px;
			padding-right: 4px;
			border-radius: var(--radius_small);
			font-size: 12px;
			font-weight: bold;
			margin: 0 2px;
			background-color: var(--color_bg);

			.btn_close {
				padding: 0px 3px;
				margin-left: 3px;
				border-radius: 50%;

				&:hover {
					background-color: var(--color_bg);
				}
			}
		}
	}
}
