.menu {
	height: 36px;
	z-index: 999;

	&::after {
		display: none;
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: var(--color_border_light);
		z-index: -1;
	}

	:global {
		.menu_items {
			padding: 0 12px;
			background-color: var(--color_bg);
			box-shadow: var(--shadow_top);
			border-bottom-left-radius: var(--radius_large);
			border-bottom-right-radius: var(--radius_large);
			overflow: hidden;
		}

		.menu_item {
			height: 100%;
			padding: 0 9px;
			border: none;
			line-height: 1;
			box-shadow: none;
			border-radius: 0;
			opacity: 0.6;
			font-size: 12px;

			&:hover {
				border-color: var(--color_border_light) !important;
			}

			&.active {
				opacity: 1;
				border-bottom-color: transparent;

				&:hover {
					border-bottom-color: transparent !important;
				}
			}
		}
	}
}

._local {
	margin-top: 36px;
	margin-bottom: 60px;

	:global {
		.setting_title {
			display: flex;
			font-size: 16px;
			font-weight: 500;
			line-height: 1;
			margin-bottom: 12px;
		}
	}
}
