.menu {
	z-index: 999;
	height: 36px;

	&::after {
		position: absolute;
		z-index: -1;
		bottom: 0;
		display: none;
		width: 100%;
		height: 1px;
		background-color: var(--color_border_light);
		content: '';
	}

	:global {
		.menu_items {
			overflow: hidden;
			padding: 0 12px;
			border-bottom-right-radius: var(--radius_large);
			border-bottom-left-radius: var(--radius_large);
			background-color: var(--color_bg);
			box-shadow: var(--shadow_top);
		}

		.menu_item {
			height: 100%;
			line-height: 1;
			padding: 0 9px;
			border: none;
			border-radius: 0;
			opacity: 0.6;
			box-shadow: none;
			font-size: 12px;

			&:hover {
				border-color: var(--color_border_light) !important;
			}

			&.active {
				border-bottom-color: transparent;
				opacity: 1;

				&:hover {
					border-bottom-color: transparent !important;
				}
			}

			.menu_name {
				margin-left: -3px;
			}
		}
	}
}

._local {
	margin-top: 36px;
	margin-bottom: 60px;

	:global {
		.setting_title {
			display: flex;
			line-height: 1;
			margin-bottom: 12px;
			font-size: 16px;
			font-weight: 500;
		}
	}
}
