[data-theme='dark'] {
	._local {
		:global {
			path:first-child {
				fill: inherit;
			}
		}
	}
}

._local {
	:global {
		path:first-child {
			fill: var(--color_main);
		}
	}
}

.todo {
	color: #b39ddb;
}

.note {
	color: #45c3b6;
}

.pomo {
	color: #749f43;
}

.schedule {
	color: #2979ff;
}
