._local {
	max-width: 360px;
	margin: 0 auto;

	:global {
		.app_module_item_wrap {
			margin-bottom: 6px;

			&.isDragging {
				z-index: 100;

				.app_module_item {
					background-color: transparent;
					outline: 1px dashed var(--color_text);
					backdrop-filter: var(--blur);
				}
			}

			.app_module_item {
				padding: 12px 18px;
				background-color: var(--color_bg_1);
				border-radius: var(--radius_large);

				&:hover {
					.btn_drag {
						opacity: 1;
					}
				}

				.btn_drag {
					opacity: 0;
					right: 48px;
					padding: 3px;
					border-radius: var(--radius);
					cursor: grab;

					&:hover {
						background-color: var(--color_bg_2);
					}
				}
			}
		}
	}
}
