._local {
	width: calc(100% + 12px);
	margin-left: -6px;

	:global {
		.app_module_item_wrap {
			width: calc(100% / 4);
			padding: 6px;

			.app_module_item {
				background-color: var(--color_bg_1);
				border-radius: var(--radius);

				&:hover {
					.btn_drag {
						opacity: 1;
					}
				}

				.module_icon {
					padding: 24px 18px;
				}

				.btn_drag {
					opacity: 0;
					top: 9px;
					right: 9px;
					padding: 3px;
					border-radius: var(--radius);
					cursor: grab;

					&:hover {
						background-color: var(--color_bg_2);
					}
				}

				.toggle_wrap {
					padding: 12px 18px;
					border-top: var(--border);

					.if-switch {
						.if-switch-inner {
							padding: 0;
						}

						&-checked {
							.if-switch-inner {
								padding-right: 18px;
								padding-left: 4px;
							}
						}
					}
				}
			}
		}
	}
}
