._local {
	:global {
		.if-drawer-extra {
			position: absolute;
			right: 39px;

			.btn {
				width: 22px;
				height: 22px;
				border-radius: var(--radius_small);
				color: rgba(var(--color_text_rgb), 0.45);

				&:hover {
					color: rgba(var(--color_text_rgb), 1);
					background-color: var(--color_bg_2);
				}

				&_clear {
					right: 27px;
				}
			}
		}

		.archive_items {
			.archive_item {
				margin-bottom: 18px;

				&:hover {
					.bottom_wrap {
						.actions_wrap {
							opacity: 1;
						}
					}
				}

				&:last-child {
					margin-bottom: 0;
				}

				.text_wrap {
					padding: 3px 0;

					&.parent {
						.status_wrap {
							top: 6.6px;
						}
					}

					&.child {
						font-size: 12px;

						.status_wrap {
							top: 6px;
						}
					}

					.other_wrap {
						z-index: 1;
						width: 14px;
						height: 14px;
						margin-right: 2px;
						border-radius: 50%;
						background-color: var(--color_bg_2);

						&.recycle_wrap {
							top: 6px;
							left: 18px;
						}
					}

					.text {
						&.has_children {
							&::before {
								position: absolute;
								top: 4px;
								left: 21px;
								height: 14px;
								line-height: 12px;
								box-sizing: border-box;
								padding: 0 3px;
								border: var(--border);
								border-radius: 8px;
								background-color: var(--color_bg_1);
								content: attr(data-children);
								text-indent: unset;
								vertical-align: 1px;
								font-size: 10px;
							}

							.__editor_root {
								p {
									text-indent: 51px;
								}
							}
						}

						.__editor_root {
							p {
								transition: text-indent ease 0.18s;
								text-indent: 21px;

								> * {
									text-indent: 0;
								}
							}
						}
					}
				}

				.children_wrap {
					overflow: hidden;
					padding-left: 21px;

					&::before {
						position: absolute;
						top: 0;
						left: 8px;
						width: 1px;
						height: 100%;
						background-color: var(--color_border_light);
						content: '';
					}
				}

				.create_at {
					color: var(--color_text_grey);
				}

				.bottom_wrap {
					margin-top: 3px;
					font-size: 12px;

					.actions_wrap {
						opacity: 0;

						.btn_action {
							line-height: 1;
							padding: 4px 6px;
							border-radius: var(--radius_small);

							&:hover {
								background-color: var(--color_bg_2);
							}
						}
					}
				}

				.footer_wrap {
					height: 18px;
				}
			}
		}

		.other_wrap {
			z-index: 1;
			height: 14px;
			line-height: 1;
			padding: 0 5px;
			margin-left: 3px;
			border-radius: 7px;
			color: var(--color_text_grey);
			background-color: var(--color_bg_2);
			white-space: nowrap;
			font-size: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		.end {
			padding-bottom: 24px;
			color: var(--color_text_grey);
			font-size: 12px;

			&.hidden {
				display: none;
			}
		}

		.if-drawer-footer {
			padding-top: 6px !important;
			padding-bottom: 6px !important;

			.footer_wrap {
				line-height: 1;
				color: var(--color_text_grey);
				font-size: 12px;

				.select {
					height: 22px;

					.if-select-selector {
						padding: 0;
					}

					.if-select-dropdown {
						min-width: 90px !important;
					}
				}
			}
		}
	}
}

.popover {
	:global {
		.if-popover-inner {
			border-radius: 0;
		}

		.if-picker {
			.if-picker-input {
				input {
					font-size: 14px;
				}
			}
		}

		.filter_wrap {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			width: 300px;
			padding: 18px 15px;

			.if-form-item {
				width: 50%;
				padding: 0 3px;
				margin-bottom: 12px;

				&:last-child {
					margin-bottom: 0;
				}

				&-label {
					line-height: 1;

					label {
						height: unset !important;
						font-size: 12px;
					}
				}

				&.status_item {
					width: 100%;

					.if-form-item-control-input {
						padding: 0 7px;
						border: 1px dashed var(--color_border);
						border-radius: var(--radius);
					}
				}

				.if-select-selection-placeholder {
					font-size: 14px;
				}
			}
		}
	}
}
