._local {
	:global {
		.if-drawer-content-wrapper {
			.if-drawer-content {
				.if-drawer-body {
					padding: 0 18px;
				}
			}
		}

		.btn {
			width: 22px;
			height: 22px;
			border-radius: var(--radius_small);
			color: rgba(var(--color_text_rgb), 0.45);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.archive_items {
			padding: 9px 0;
			padding-bottom: 24px;

			.archive_item {
				padding: 6px 0;
				border-bottom: var(--border);

				&:hover {
					.bottom_wrap {
						.actions_wrap {
							opacity: 1;
						}
					}
				}

				.text_wrap {
					padding: 3px 0;

					&.parent {
						.status_wrap {
							top: 5.5px;
						}
					}

					&.child {
						font-size: 12px;

						.status_wrap {
							top: 5px;
						}
					}

					.other_wrap {
						width: 14px;
						height: 14px;
						margin-right: 2px;
						background-color: var(--color_bg_2);
						border-radius: 50%;
						z-index: 1;

						&.recycle_wrap {
							top: 6px;
							left: 18px;
						}
					}

					.text {
						text-indent: 18px;

						&.recycle {
							text-indent: 36px;
						}

						&.has_children {
							&::after {
								content: attr(data-children);
								box-sizing: border-box;
								height: 14px;
								padding: 0 3px;
								margin-left: 6px;
								line-height: 12px;
								font-size: 10px;
								background-color: var(--color_bg_1);
								border-radius: 8px;
								border: var(--border);
								vertical-align: 1px;
							}
						}
					}
				}

				.children_wrap {
					padding-left: 18px;
					overflow: hidden;

					&::before {
						content: '';
						position: absolute;
						top: 0;
						left: 8px;
						width: 1px;
						height: 100%;
						background-color: var(--color_border_light);
					}
				}

				.create_at {
					color: var(--color_text_grey);
				}

				.bottom_wrap {
					padding-top: 3px;
					font-size: 12px;

					.actions_wrap {
						opacity: 0;

						.btn_action {
							padding: 4px 6px;
							border-radius: var(--radius_large);
							line-height: 1;
							background-color: var(--color_bg_1);

							&:hover {
								background-color: var(--color_bg_2);
							}
						}
					}
				}

				.footer_wrap {
					height: 18px;
				}
			}
		}

		.end {
			padding-bottom: 24px;
			font-size: 12px;
			color: var(--color_text_grey);

			&.hidden {
				display: none;
			}
		}

		.if-drawer-footer {
			padding-bottom: 10px !important;

			.footer_wrap {
				font-size: 12px;
				color: var(--color_text_grey);

				.select {
					height: 22px;

					.if-select-dropdown {
						min-width: 90px !important;
					}
				}
			}
		}
	}
}

.popover {
	:global {
		.if-popover-inner {
			border-radius: 0;
		}

		.filter_wrap {
			width: 342px;
			padding: 18px 15px;
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;

			.if-form-item {
				width: 50%;
				padding: 0 3px;
				margin-bottom: 12px;

				&:last-child {
					margin-bottom: 0;
				}

				&-label {
					line-height: 1;

					label {
						height: unset !important;
						font-size: 12px;
					}
				}

				&.status_item {
					width: 100%;

					.if-form-item-control-input {
						padding: 0 7px;
						border: 1px dashed var(--color_border);
						border-radius: var(--radius);
					}
				}
			}
		}
	}
}
