._local {
	overflow-x: visible;
	width: 4px;
	opacity: 0;
	background-color: var(--color_border);
	cursor: col-resize;

	&:hover {
		opacity: 1;
	}

	&.draging {
		opacity: 1;
	}

	&.hide {
		justify-content: flex-start;
		width: 0;
		opacity: 1;

		:global {
			.btn_hide_wrap {
				border: none;
				border-radius: 0;
				border-top-right-radius: var(--radius);
				border-bottom-right-radius: var(--radius);
				box-shadow: var(--shadow_right);

				&:hover {
					background-color: var(--color_bg);

					.icon {
						opacity: 1;
					}
				}

				.icon {
					opacity: 0.6;
				}
			}
		}
	}

	:global {
		.btn_hide_wrap {
			width: 18px;
			height: 32px;
			border: 2px solid var(--color_border);
			border-radius: 18px;
			color: var(--color_text_grey);
			background-color: var(--color_bg);
			cursor: pointer;

			&:hover {
				background-color: var(--color_bg_1);
			}
		}
	}
}
