._local {
	height: calc(100% - 72px);
	overflow-y: scroll;
	padding: 0 36px;

	:global {
		.if-table {
			table {
				border-collapse: collapse;

				thead {
					tr {
						th {
							padding: 3px 6px !important;
							background-color: transparent;
							text-transform: capitalize;
							font-weight: normal;
							font-size: 12px;
							white-space: nowrap;
							color: var(--color_text_light);

							&:last-child {
								padding-right: 0 !important;
							}

							&:nth-of-type(2) {
								padding-left: 7px !important;
							}

							&::before {
								display: none;
							}
						}

						td {
							background-color: transparent;

							&::before {
								display: none;
							}
						}
					}
				}

				tbody {
					tr {
						td {
							height: 36px;
							padding: 0px 6px !important;
							font-size: 12px;

							&:first-child {
								padding-left: 0 !important;
								padding-right: 0 !important;
							}

							&:last-child {
								padding-right: 0 !important;
							}
						}
					}
				}
			}
		}
	}
}

.archive {
	color: var(--color_text_light);
	pointer-events: none;

	.RenderText {
		color: var(--color_text_light);
	}

	.RenderLevel {
		opacity: 0.48;
	}

	.DateTime {
		:global {
			.if-picker-input {
				input {
					color: var(--color_text_light);
				}
			}
		}
	}
}

.RenderText {
	padding: 0;
	text-overflow: ellipsis;
	font-size: 12px;
}

.RenderStatus {
	width: 21px;
	height: 21px;
	border-radius: var(--radius_small);
	margin-left: -5px;

	&:hover {
		background-color: var(--color_bg_2);
	}
}

.DateTime {
	:global {
		.if-picker-input {
			input {
				text-align: center;
			}
		}
	}
}

.RenderArchive {
	line-height: 1;

	:global {
		.btn_active {
			width: 21px;
			height: 21px;
			border-radius: var(--radius_small);
			margin-left: -1px;
			color: var(--color_text);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.icon_doing {
			color: var(--color_text_light);
		}

		.archive_time {
			white-space: nowrap;
		}
	}
}

.RenderRemark {
	&.has_value {
		:global {
			.btn_remark {
				color: var(--color_text);
			}
		}
	}

	:global {
		.btn_remark {
			width: 21px;
			height: 21px;
			border-radius: var(--radius_small);
			color: var(--color_text_light);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}
	}
}

.RenderRemarkPopover {
	:global {
		.if-popover-inner {
			width: 300px;
			height: 150px;
			padding: 18px;
			overflow-y: scroll;
		}
	}
}

.RenderCreateAt {
	color: var(--color_text_light);
}
