._local {
	overflow-y: scroll;
	height: calc(100% - 32px - 12px);
	font-size: 12px;
	gap: 12px;

	:global {
		.empty_wrap {
			flex: 1;
		}

		.timeline_items {
			padding: 0 6px;
			border-radius: var(--radius);
		}

		.calendar_items {
			padding: 12px 6px;
			border-radius: var(--radius);
			gap: 12px;
		}

		.timeblock {
			&:hover {
				.btn_jump {
					display: flex;
				}
			}

			.btn_jump {
				right: 0;
				width: 15px;
				height: 15px;
				border: 1px solid var(--color_text);
				border-radius: var(--radius_small);
				backdrop-filter: var(--blur);

				&:hover {
					color: var(--color_bg);
					background-color: var(--color_text);
				}
			}
		}
	}
}

.timeline {
	padding: 6px 0;
	border-bottom: var(--border_soft);
	gap: 8px;

	&:first-child {
		border-top-left-radius: var(--radius);
		border-top-right-radius: var(--radius);
	}

	&:last-child {
		border-bottom-right-radius: var(--radius);
		border-bottom-left-radius: var(--radius);
	}

	&.no_tag {
		:global {
			.dot {
				background-color: var(--color_border);
			}
		}
	}

	:global {
		.dot {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			background-color: rgba(var(--tag_color), 1);
		}

		.text {
			flex: 1;
		}

		.days_wrap {
			width: calc(var(--percent) * 60px);
			height: 3px;
			border-radius: 1.5px;
			background-color: var(--color_border);
		}

		.cross_time {
			width: 30px;
			border-right: var(--border);
		}

		.cross_time,
		.duration {
			color: var(--color_text_light);
			font-size: 10px;
		}
	}
}

.calendar {
	&.no_tag {
		:global {
			.tag_mark {
				background-color: var(--color_border);
			}
		}
	}

	:global {
		.tag_mark {
			width: 3px;
			height: 30px;
			margin-right: 8px;
			border-radius: 1.5px;
			background-color: rgba(var(--tag_color), 1);
		}

		.text {
			flex: 1;
		}

		.duration {
			color: var(--color_text_light);
			font-size: 10px;
		}
	}
}
