.clickable {
	cursor: pointer;
	transition: transform ease 0.12s;

	&:active {
		transform: scale(0.9);
	}
}

.limited_content_wrap {
	box-sizing: border-box;
	max-width: var(--limited_width);
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--limited_padding);
}

.limited_unchanged_content_wrap {
	box-sizing: border-box;
	max-width: var(--limited_width_unchanged);
	width: 100%;
	margin: 0 auto;
	padding: 0 var(--limited_padding);
}

.color_bg {
	background-color: var(--color_bg);
}

.color_main {
	color: var(--color_main);
}

.color_danger {
	color: var(--color_danger);
}

.color_warning {
	color: var(--color_warning);
}

[data-theme='dark'] {
	.module_icon {
		svg {
			path:first-child {
				fill: inherit;
			}
		}
	}
}

.module_icon {
	svg {
		path:first-child {
			fill: var(--color_main);
		}
	}
}

.btn_main {
	outline: none;
	border-style: solid;
	border-color: var(--color_text) !important;
	background-color: var(--color_text);
	color: var(--color_bg);

	&.if-btn-default {
		&:hover {
			color: var(--color_bg) !important;
			border-color: var(--color_text) !important;
			outline: 3px solid var(--color_border);
		}
	}

	&:hover {
		background-color: var(--color_text);
		outline: 3px solid var(--color_border);
	}
}
