.clickable {
	cursor: pointer;
	transition: scale ease 0.12s;

	&:active {
		scale: 0.9;
	}
}

.limited_content_wrap {
	width: 100%;
	max-width: var(--limited_width);
	box-sizing: border-box;
	padding: 0 var(--limited_padding);
	margin: 0 auto;
}

.limited_unchanged_content_wrap {
	width: 100%;
	max-width: var(--limited_width_unchanged);
	box-sizing: border-box;
	padding: 0 var(--limited_padding);
	margin: 0 auto;
}

.color_bg {
	background-color: var(--color_bg);
}

.color_main {
	color: var(--color_main);
}

.color_text_light {
	color: var(--color_text_light);
}

.color_danger {
	color: var(--color_danger);
}

.color_warning {
	color: var(--color_warning);
}

.btn_main {
	border-style: solid;
	border-color: var(--color_text) !important;
	outline: none;
	color: var(--color_bg);
	background-color: var(--color_text);

	&:hover {
		outline: 3px solid var(--color_border);
		background-color: var(--color_text);
	}

	&.if-btn-default {
		&:hover {
			border-color: var(--color_text) !important;
			outline: 3px solid var(--color_border);
			color: var(--color_bg) !important;
			background-color: var(--color_text) !important;
		}
	}
}
