:root {
	--sidebar_width: 72px;
	--dirtree_width: 210px;
	--limited_width: 780px;
	--limited_padding: 60px;
	--radius: 6px;
	--radius_small: 4px;
	--radius_small_1: 2px;
	--radius_small_2: 1px;
	--radius_large: 12px;
	--radius_large_1: 18px;
	--radius_large_2: 24px;
}
