@import '@xyflow/react/dist/style.css';

.react-flow__attribution {
	display: none;
}

.react-flow.dark {
	background-color: var(--color_bg);
}

.react-flow__controls {
	overflow: hidden;
	padding: 2px;
	border: var(--border_light);
	border-radius: var(--radius_small_1);
	box-shadow: none;
	gap: 3px;

	.react-flow__controls-button {
		width: 21px;
		height: 21px;
		padding: 0;
		border-bottom: none;
		border-radius: var(--radius_small_1);
		background-color: transparent;

		&:hover {
			background-color: var(--color_bg_2);
		}

		svg {
			max-width: 10px;
			max-height: 10px;
		}
	}
}
