.Item {
	margin-bottom: 9px;

	&.last {
		margin-bottom: 6px;
	}

	:global {
		.timeline_angle {
			gap: 6px;

			.input {
				flex: 1;
			}

			.btn {
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				border-radius: var(--radius);
				background-color: var(--color_bg_1);
				font-size: 16px;

				&:hover {
					background-color: var(--color_bg_2);
				}

				&.disabled {
					svg {
						opacity: 0.3;
					}
				}
			}
		}

		.rows_wrap {
			.row_item {
				width: calc((100% - 6px * 5) / 6);
				height: 30px;
				border-radius: var(--radius);
				background-color: var(--color_bg_1);

				&:hover {
					background-color: var(--color_bg_2);

					.icon_remove {
						display: block;
					}

					.icon_row {
						display: none;
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
