._local {
	:global {
		.charts_wrap {
			.chart_ref {
				height: 150px;
				margin-bottom: 12px;
				border-radius: var(--radius);
				background-color: var(--color_bg_1);

				&.trending {
					width: calc(100% - 234px - 12px);
				}

				&.ratio {
					width: 234px;
				}
			}
		}
	}
}
