@keyframes gradient {
	0% {
		filter: saturate(0) hue-rotate(0);
	}

	50% {
		filter: saturate(180%) hue-rotate(180deg);
	}

	100% {
		filter: saturate(0) hue-rotate(360deg);
	}
}

._local {
	top: 12px;
	right: 12px;
	font-family: 'OutFit' !important;
	line-height: 1;
	user-select: none;
	color: rgba(var(--color_main_rgb), 0.72);
	transition: color ease 0.3s;
	font-weight: 600;
	background-color: transparent;

	:local {
		animation: gradient ease 18s infinite;
	}

	&:hover {
		color: var(--color_main) !important;
	}

	.title {
		font-size: 21px;
		margin-bottom: 6px;
		text-align: right;
	}
}
