._local {
	--icon_size: 32px;

	width: var(--icon_size);
	height: var(--icon_size);
	border-radius: var(--radius);
	background-color: var(--color_bg_1);

	&:hover {
		border-color: var(--color_text_grey);
	}

	:global {
		em-emoji {
			.emoji-mart-emoji {
				span {
					margin-bottom: -5px;
				}
			}
		}
	}
}

.icon_picker {
	:global {
		.if-popover-arrow {
			top: 67px;
		}

		.if-popover-content {
			.if-popover-inner {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}
}

.hue_wrap {
	line-height: 1;
	padding: 4px 12px;
	margin-top: 12px;
	border-radius: var(--radius);
	background-color: var(--color_bg);
	box-shadow: var(--shadow);

	:global {
		.hue_label {
			width: 40px;
		}

		.hue_slider {
			width: calc(100% - 40px);
		}
	}
}
