._local {
	--icon_size: 38px;
	width: var(--icon_size);
	height: var(--icon_size);
	border: 1px dashed var(--color_border);
	border-radius: var(--radius);

	&:hover {
		border-color: var(--color_text_grey);
	}

      :global{
            em-emoji {
                  .emoji-mart-emoji {
                        span {
                              margin-bottom: -5px;
                        }
                  }
            }
      }
}

.icon_picker {
	:global {
		.if-popover-content {
			.if-popover-inner {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}
}
