._local {
	:global {
		.list_item_wrap {
			margin-top: 6px;
			gap: 6px;

			&:first-child {
				margin-top: none;
			}

			.color_picker {
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				background-color: var(--color_bg_1);

				&:hover {
					background-color: var(--color_bg_2);
				}

				.if-color-picker-color-block {
					width: 18px;
					height: 18px;
					border-radius: 50%;
				}
			}

			.input {
				flex: 1;
			}

			.preview_wrap {
				min-width: 90px;
				height: 32px;
				padding: 0 8px;
				border-radius: var(--radius);
				background-color: var(--color_bg_1);
				font-size: 12px;

				.color {
					width: 8px;
					height: 8px;
					border-radius: 50%;
				}
			}

			.btn {
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				border-radius: var(--radius);
				background-color: var(--color_bg_1);
				font-size: 15px;

				&:hover {
					background-color: var(--color_bg_2);
				}
			}
		}
	}
}

.btn_make {
	height: 36px;
	border: 1px dashed var(--color_border);
	border-radius: var(--radius);

	&:hover {
		border-color: var(--color_text_grey);
	}
}
