._local {
	border-radius: var(--radius);
	background-color: var(--color_bg_1);

	:global {
		.list_item_wrap {
			padding: 3px;
			border-top: var(--border_soft);

			&:first-child {
				border-top: none;
			}

			.color_picker {
				align-items: center;
				justify-content: center;
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				background-color: var(--color_bg_1);

				&:hover {
					border-color: var(--color_text);
					background-color: var(--color_bg);
				}

				.if-color-picker-color-block {
					width: 18px;
					height: 18px;
					border-radius: 50%;
				}
			}

			.input {
				width: calc(100% - 32px * 4 - 96px);
			}

			.preview_wrap {
				width: 90px;
				height: 32px;
				padding: 6px;
				border: 1px solid transparent;
				border-radius: var(--radius);

				&:hover {
					border-color: var(--color_text);
					background-color: var(--color_bg);
				}

				.tag {
					overflow: hidden;
					border-radius: var(--radius_small);
					font-size: 12px;
					font-weight: 500;
				}
			}

			.btn {
				width: 32px;
				height: 32px;
				border: 1px solid transparent;
				border-radius: var(--radius);
				font-size: 15px;

				&:hover {
					border-color: var(--color_text);
					background-color: var(--color_bg);
				}
			}
		}
	}
}

.btn_make {
	height: 36px;
	border: 1px dashed var(--color_border);
	border-radius: var(--radius);

	&:hover {
		border-color: var(--color_text_grey);
	}
}
