._local {
	padding: 1px !important;
	white-space: nowrap;

	&.percent {
		background-color: var(--color_bg_2);

		:global {
			.repeat_content {
				padding: 0 3px;
			}
		}
	}

	&.useByFlat {
		color: rgba(var(--color_text_rgb), 0.72);
		font-size: 12px;
	}

	:global {
		.bg_progress {
			border-radius: 7px;
			background-color: rgba(var(--color_text_rgb), 0.09);
			transition: width ease 0.18s;

			&.no_right_radius {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		.repeat_content {
			border-radius: 6px;
		}
	}
}
