._local {
	padding-bottom: 36vh;
	font-size: 16px;

	:global {
		div[contenteditable='true'] {
			outline: none;
		}

		a {
			text-decoration-line: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 2px;

			&:hover {
				color: var(--color_main);
			}
		}

		p {
			margin-block-start: 1.2em;
			margin-block-end: 1.2em;
		}

		code {
			display: block;
			box-sizing: border-box;
			padding: 12px 15px;
			margin-block-start: 1.2em;
			margin-block-end: 1.2em;
			border-radius: var(--radius);
			background-color: var(--color_bg_1);
			font-family: 'CascadiaCode';
			font-size: 14px;
			tab-size: 4;
		}
	}
}
