._local {
	height: calc(100% - 28px - 150px - 32px - 24px - 16px);

	:global {
		textarea {
			overflow-y: scroll;
			line-height: 1.62;
			padding: 12px;
			border: none;
			border-radius: var(--radius);
			outline: none;
			color: var(--color_text_light);
			background-color: var(--color_bg_1);
			resize: none;
			font-size: 12px;
		}
	}
}
