._local {
	.hidden {
		position: fixed;
		transform: translateX(100vw);
	}

	:global {
		.nav_bar_item_wrap {
			&.drag_overlay {
				border-color: var(--color_text);

				.btn_remove {
					display: none !important;
				}
			}
		}
	}
}
