._local {
	height: 36px;
	padding: 0 18px;
	border-bottom: var(--border);
	color: var(--color_text_light);

	&:hover {
		color: var(--color_text);
	}

	&:active {
		background-color: var(--color_bg_2);
	}

	:global {
		.icon_search {
			left: 18px;
		}

		.search {
			padding-left: 24px;
			line-height: 1;
		}
	}
}
