._local {
	height: 36px;
	padding: 0 18px;
	border-bottom: var(--border);
	color: var(--color_text_light);

	:global {
		.icon_search {
			left: 18px;
		}

		.input_search {
			border: none;
			box-shadow: none;
			outline: none;
			padding-left: 24px;
			line-height: 1;

			&:disabled {
				background-color: transparent;
			}
		}
	}
}
