[data-theme='dark'] {
	._local {
		&.has_tag {
			color: var(--color_text) !important;

			:global {
				.timeblock_content_wrap {
					background-color: rgba(var(--tag_color), 0.3) !important;

					.text_wrap {
						&:empty::after {
							color: var(--color_text_light);
						}
					}

					.time {
						color: var(--color_text_light);
					}
				}
			}
		}
	}
}

._local {
	font-size: 12px;
	overflow: hidden;
	background-color: var(--color_bg);
	border-radius: var(--radius);
	outline: none;

	&:hover {
		:global {
			.btn_detail {
				display: flex;
			}
		}
	}

	&.isOver {
		outline: 1px dashed var(--color_text);
	}

	&.signal {
		border: 1px dashed var(--color_text);
		background-color: var(--color_bg);
	}

	&.small {
		:global {
			.btn_detail {
				top: 0.5px;
				right: 0;
				width: 12px;
				height: 12px;
				border-radius: 0;
				border: none;
				background-color: unset;
			}

			.timeblock_content_wrap {
				.text_wrap {
					height: 12px;
					line-height: 12px;
					font-size: 10px;
					padding: 0 2px;
					white-space: nowrap;
				}
			}
		}
	}

	&.middle {
		:global {
			.timeblock_content_wrap {
				padding: 1px 2px;

				.text_wrap {
					height: 12px;
					padding: 0;
					white-space: nowrap;
				}

				.time {
					margin-top: 3px;
				}
			}
		}
	}

	&.large {
		:global {
			.timeblock_content_wrap {
				padding: 6px;

				.text_wrap {
					padding: 0;
					line-height: 16px;
					white-space: nowrap;
				}
			}
		}
	}

	&.xlarge {
		:global {
			.timeblock_content_wrap {
				padding: 6px;

				.text_wrap {
					padding: 0;
					line-height: 16px;
				}
			}
		}
	}

	&.past {
		:global {
			.timeblock_content_wrap {
				opacity: 0.48;
			}
		}
	}

	&.has_tag {
		color: rgba(var(--tag_color), 0.9);

		:global {
			.timeblock_content_wrap {
				border-color: rgba(var(--tag_color), 0.18);
				background-color: rgba(var(--tag_color), 0.12);

				.text_wrap {
					&:empty::after {
						color: rgba(var(--tag_color), 0.6);
					}
				}

				.time {
					color: rgba(var(--tag_color), 0.6);
				}
			}
		}
	}

	&.isDragging {
		z-index: 998;
	}

	&.month_mode {
		height: 20px;
		margin-bottom: 1px;
		flex-direction: row;
		align-items: center;
		border-radius: var(--radius_small_1);

		&.no_tag {
			:global {
				.timeblock_content_wrap {
					background-color: var(--color_bg_1);
				}
			}
		}

		&:hover,
		&.visible_detail {
			:global {
				.status {
					opacity: 0;
				}
			}
		}

		:global {
			.btn_detail {
				top: 0;
				width: 18px;
				height: 18px;
				border: none;
				background-color: unset;
			}

			.timeblock_content_wrap {
				padding: 1px 4px;
				border: none;
				border-radius: var(--radius_small_1);
				cursor: unset;

				.text_scroll_wrap {
					&.has_status {
						width: calc(100% - 18px);
					}
				}

				.text_wrap {
					height: 18px;
					line-height: 18px;
					white-space: nowrap;
				}
			}

			.status {
				right: 0px;
				width: 18px;
				height: 100%;
				font-size: 10px;
				line-height: 1;
				color: var(--color_text_light);
				user-select: none;
			}
		}
	}

	&.timeline {
		height: 36px;
		z-index: 2;
		border-radius: var(--radius_small);

		&.has_tag {
			:global {
				.timeblock_content_wrap {
					border-color: rgba(var(--tag_color), 0.09);
				}
			}
		}

		:global {
			.drag_line {
				width: 6px;
				height: 100%;
				cursor: col-resize;
			}

			.timeblock_content_wrap {
				padding: 1px 4px;
				padding-top: 0;

				.text_wrap {
					height: 20px;
					line-height: 20px;
					padding: 0;
					white-space: nowrap;
				}

				.time {
					height: 14px;
					margin-top: 0px;
				}
			}
		}
	}

	:global {
		.drag_line {
			height: 6px;
			user-select: none;
			z-index: 1;
			cursor: row-resize;
		}

		.btn_detail {
			top: 1px;
			right: 1px;
			width: 16px;
			height: 16px;
			z-index: 1;

			&.visible_detail {
				display: flex;
			}
		}

		.timeblock_content_wrap {
			border: 1px solid var(--color_border);
			border-radius: var(--radius);
			cursor: grab;

			.text_scroll_wrap {
				overflow-x: scroll;
				outline: none;
				cursor: text;
			}

			.text_wrap {
				line-height: 14px;
				font-size: 12px;
				outline: none;
				font-weight: 500;
				cursor: text;

				&:empty {
					&::after {
						content: attr(data-placeholder);
						color: var(--color_text_light);
						font-weight: normal;
					}
				}
			}

			.time {
				margin-top: 6px;
				font-size: 10px;
				line-height: 1;
				color: var(--color_text_light);
				user-select: none;
				white-space: nowrap;

				.time_value {
					width: 100%;

					&.has_status {
						width: calc(100% - 21px);
						overflow: scroll;
					}
				}

				.status {
					right: 0px;
				}
			}
		}
	}
}
