._local {
	font-size: 12px;
	overflow: hidden;
	background-color: var(--color_bg);
	border-radius: var(--radius_small);

	&:hover {
		:global {
			.btn_detail {
				display: flex;
			}
		}
	}

	&.signal {
		border: 1px dashed var(--color_text);
		background-color: var(--color_bg);
	}

	&.small {
		:global {
			.btn_detail {
				width: 14px;
				height: 14px;
				border-radius: 0;
				border: none;
				background-color: unset;
			}

			.text_wrap {
				height: 14px;
				padding: 0 3px;
				white-space: nowrap;
			}
		}
	}

	&.middle {
		:global {
			.timeblock_content_wrap {
				padding: 2px 3px;

				.text_wrap {
					height: 12px;
					padding: 0;
					white-space: nowrap;
				}

				.time {
					margin-top: 4px;
				}
			}
		}
	}

	&.large {
		:global {
			.timeblock_content_wrap {
				padding: 6px;

				.text_wrap {
					padding: 0;
					line-height: 16px;
					white-space: nowrap;
				}
			}
		}
	}

	&.xlarge {
		:global {
			.timeblock_content_wrap {
				padding: 6px;

				.text_wrap {
					padding: 0;
					line-height: 16px;
				}
			}
		}
	}

	&.has_tag {
		:global {
			.timeblock_content_wrap {
				border-color: rgba(var(--tag_color), 0.48);
				background-color: rgba(var(--tag_color), 0.06);
			}
		}
	}

	&.isDragging {
		z-index: 1000;
	}

	:global {
		.drag_line {
			height: 6px;
			cursor: row-resize;
			user-select: none;
			z-index: 1;
		}

		.btn_detail {
			top: 1px;
			right: 1px;
			width: 16px;
			height: 16px;
			z-index: 1;

			&.visible_detail {
				display: flex;
			}
		}

		.timeblock_content_wrap {
			border: 1px solid var(--color_border);
			border-radius: var(--radius_small);
			cursor: grab;

			.text_scroll_wrap {
				overflow-x: scroll;
				cursor: text;
			}

			.text_wrap {
				line-height: 14px;
				font-size: 12px;
				outline: none;
				font-weight: 500;
				cursor: text;

				&:empty {
					&::after {
						content: attr(data-placeholder);
						color: var(--color_text_light);
						font-weight: normal;
					}
				}
			}

			.time {
				margin-top: 6px;
				font-size: 10px;
				line-height: 1;
				color: var(--color_text_light);
				user-select: none;
			}
		}
	}
}
