._local {
	overflow: hidden;
	border-radius: var(--radius_small);
	outline: none;
	background-color: var(--color_bg);
	font-size: 12px;

	&:hover {
		:global {
			.btn_detail {
				display: flex;
			}
		}
	}

	&.isOver {
		outline: 1px dashed var(--color_text);
	}

	&.signal {
		border: 1px dashed var(--color_text);
		background-color: var(--color_bg);
	}

	&.small {
		border-radius: var(--radius_small_1);

		:global {
			.btn_detail {
				top: 0.5px;
				right: 0;
				width: 12px;
				height: 12px;
				border: none;
				border-radius: 0;
				background-color: unset;
			}

			.timeblock_content_wrap {
				border-radius: var(--radius_small_1);

				.text_wrap {
					height: 12px;
					line-height: 12px;
					padding: 0 2px;
					white-space: nowrap;
					font-size: 10px;
				}
			}
		}
	}

	&.middle {
		border-radius: var(--radius_small);

		:global {
			.timeblock_content_wrap {
				padding: 1px 2px;
				border-radius: var(--radius_small);

				.text_wrap {
					height: 12px;
					padding: 0;
					white-space: nowrap;
				}

				.time {
					margin-top: 3px;
				}
			}
		}
	}

	&.large {
		:global {
			.timeblock_content_wrap {
				padding: 6px;

				.text_wrap {
					line-height: 16px;
					padding: 0;
					white-space: nowrap;
				}
			}
		}
	}

	&.xlarge {
		:global {
			.timeblock_content_wrap {
				padding: 6px;

				.text_wrap {
					line-height: 16px;
					padding: 0;
				}
			}
		}
	}

	&.past {
		:global {
			.timeblock_content_wrap {
				opacity: 0.6;
			}
		}
	}

	&.has_tag {
		::selection {
			color: var(--color_bg_2);
			background-color: var(--color_text_sub);
		}

		:global {
			.timeblock_content_wrap {
				border: 1px solid rgba(var(--tag_color), 0.18);
				color: rgba(var(--color_contrast_rgb), 0.72);
				background-color: var(--tag_bg_color);

				.text_wrap {
					&:empty::after {
						color: rgba(var(--color_contrast_rgb), 0.54);
					}

					.timeblock_placeholder {
						color: rgba(var(--color_contrast_rgb), 0.54);
					}
				}

				.time {
					color: rgba(var(--color_contrast_rgb), 0.54);
				}
			}
		}
	}

	&.isDragging {
		z-index: 998;
	}

	&.no_tag {
		:global {
			.timeblock_content_wrap {
				border: 1px solid rgba(var(--color_text_rgb), 0.18);
			}
		}
	}

	&.month_mode {
		align-items: center;
		flex-direction: row;
		height: 20px;
		margin-bottom: 1px;
		border-radius: var(--radius_small_1);

		&:hover,
		&.visible_detail {
			:global {
				.status {
					opacity: 0;
				}
			}
		}

		:global {
			p {
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.btn_detail {
				top: 0;
				width: 18px;
				height: 18px;
				border: none;
				background-color: unset;
			}

			.timeblock_content_wrap {
				padding: 1px 4px;
				border: none;
				border-radius: var(--radius_small_1);
				cursor: unset;

				.text_scroll_wrap {
					&.has_status {
						width: calc(100% - 18px);
					}
				}

				.text_wrap {
					height: 18px;
					line-height: 18px;
					white-space: nowrap;
				}
			}

			.status {
				right: 0px;
				width: 18px;
				height: 100%;
				line-height: 1;
				color: var(--color_text_light);
				user-select: none;
				font-size: 10px;
			}
		}
	}

	&.timeline {
		z-index: 2;
		height: 36px;
		border-radius: var(--radius_small);

		:global {
			p {
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.drag_line {
				width: 6px;
				height: 100%;
				cursor: col-resize;
			}

			.timeblock_content_wrap {
				padding: 1px 4px;
				padding-top: 0;

				.text_wrap {
					height: 20px;
					line-height: 20px;
					padding: 0;
					white-space: nowrap;
				}

				.time {
					height: 14px;
					margin-top: 0px;
				}
			}
		}
	}

	:global {
		.drag_line {
			z-index: 1;
			height: 6px;
			cursor: row-resize;
			user-select: none;
		}

		.btn_detail {
			z-index: 1;
			top: 1px;
			right: 1px;
			width: 16px;
			height: 16px;

			&.visible_detail {
				display: flex;
			}
		}

		.timeblock_content_wrap {
			border-radius: var(--radius_small);
			cursor: grab;

			.text_scroll_wrap {
				overflow-x: scroll;
				outline: none;
				cursor: text;
			}

			.text_wrap {
				line-height: 14px;
				outline: none;
				cursor: text;
				font-size: 12px;
				font-weight: 500;

				&:empty {
					&::after {
						color: var(--color_text_light);
						content: attr(data-placeholder);
						font-weight: normal;
					}
				}
			}

			.timeblock_placeholder {
				top: 0;
				font-weight: normal;
			}

			.time {
				line-height: 1;
				margin-top: 6px;
				color: var(--color_text_light);
				user-select: none;
				white-space: nowrap;
				font-size: 10px;

				.time_value {
					width: 100%;

					&.has_status {
						overflow: scroll;
						width: calc(100% - 21px);
					}
				}

				.status {
					right: 0px;
				}
			}
		}
	}
}
