@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}
	25%,
	75% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(10px);
	}
}

._local {
	padding-bottom: 24px;

	:global {
		.setting_items {
			font-weight: 500;
			padding: 6px 0;
			margin-bottom: 36px;

			.setting_item {
				padding: 0 15px;
				margin-bottom: 6px;
				min-height: 66px;
				background-color: var(--color_bg_1);
				border-radius: var(--radius_large);

				&:last-child {
					margin-bottom: 0;
				}

				&.password_item {
					min-height: unset;
					padding-top: 14px;
					padding-bottom: 14px;
				}

				.title_wrap {
					line-height: 1;

					.text_wrap {
						margin-left: 16px;

						.desc {
							margin-top: 8px;
							font-size: 12px;
							color: rgba(var(--color_text_rgb), 0.6);
						}
					}
				}

				.value_wrap {
					min-height: 30px;

					.btn {
						border: none;
						box-shadow: none;
						outline: none;
						width: 120px;
						background-color: var(--color_bg);
						height: 38px;
						border-radius: 17px;
						cursor: pointer;

						&:hover {
							outline: 3px solid var(--color_border_soft);
						}
					}

					.btn_lock {
						width: 38px;
						height: 38px;
						border-radius: 50%;
						background-color: var(--color_bg);

						&:hover {
							outline: 3px solid var(--color_border_soft);
						}
					}
				}

				.input {
					width: 120px;
					border: none;
					border-radius: 17px;
				}

				.select {
					min-width: 120px;

					.if-select-selector {
						border: none;
						border-radius: 17px;
					}
				}

				.radio_wrap {
					min-width: 120px;
				}

				.color_item_wrap {
					width: 24px;
					height: 24px;
					border-radius: 50%;
					padding: 1px;

					&.active {
						outline: 1px solid var(--color_main);
					}

					.color_item {
						border-radius: 50%;
					}
				}
			}
		}
	}
}

.password_modal {
	&.ungenerated {
		:global {
			.if-modal-footer {
				.if-btn-primary {
					cursor: not-allowed;
					border: 1px dashed var(--color_border_light);
					color: var(--color_text_light);
					background: var(--color_bg_1);
					box-shadow: none;
					pointer-events: none;
				}
			}
		}
	}

	:global {
		.password_input {
			&.unverified {
				:global {
					animation: shake 0.3s ease-in-out;
				}
			}
		}

		.key_wrap {
			&.reset_mode {
				.padding_wrap {
					padding-top: 0;

					.password_key {
						height: 150px;
						overflow: scroll;
						cursor: initial;
					}

					.btn_copy {
						display: none;
					}
				}
			}

			.padding_wrap {
				padding-top: 12px;

				.password_key {
					height: 72px;
					resize: none;
					font-size: 12px;
					overflow: hidden;
					cursor: pointer;

					&.unverified {
						:local {
							animation: shake 0.3s ease-in-out;
						}
					}
				}

				.btn_copy {
					right: 0;
					z-index: 10000;
					width: 21px;
					height: 21px;
					border: 1px dashed var(--color_border_light);
					border-top-right-radius: var(--radius);
					border-bottom-left-radius: var(--radius);
					border-top: none;
					border-right: none;
					overflow: hidden;
					background-color: var(--color_bg);

					&:hover {
						background-color: var(--color_bg_2);
					}
				}

				.desc {
					width: 93%;
					margin-top: 12px;
					font-size: 12px;
					color: var(--color_text_light);
				}
			}
		}

		.btn_toggle_use {
			background-color: var(--color_bg_1);
		}
	}
}
