._local {
	min-height: 100%;
	padding-top: 36px;

	.title {
		padding: 0;
		border: none;
		outline: none;
		background-color: transparent;
		font-size: 21px;
		font-weight: 500;
	}

	:global {
		.article_title {
			&.serif {
				font-family: serif;
				font-weight: bold;
			}
		}
	}
}
