._local {
	:global {
		.archive_select {
			.if-select-selector {
				border: none;
				outline: 3px solid transparent;
				color: white !important;
				background-color: var(--color_danger);
				transition: transform ease 0.12s;
				text-align: center;

				&:hover {
					outline: 3px solid var(--color_border);
				}

				&:active {
					transform: scale(0.9);
				}

				.if-select-selection-placeholder {
					color: white !important;
				}
			}

			.if-select-clear {
				margin-top: -5px;
			}
		}
	}
}
