html,
body {
	margin: 0;
	padding: 0;
	background-color: var(--color_bg);
	color: var(--color_text);
	font-size: 14px;
	font-family:
		'RedditSans',
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		'Helvetica Neue',
		Arial,
		'Noto Sans',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
		'Segoe UI Symbol',
		'Noto Color Emoji';
	line-height: 1.5;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
}

::-webkit-input-placeholder,
.if-select-selection-placeholder {
	color: var(--color_text_light) !important;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected {
	transition: background-color 5000000s ease-in-out 0s !important;
}

::selection {
	background-color: rgba(var(--color_main_rgb), 0.06);
	color: var(--color_main);
}

a {
	color: var(--color_text);
}

a:hover {
	color: inherit;
}

input {
	font-family: 'RedditSans';
}

button {
	outline: none;
	border: none;
	box-shadow: none;
	color: var(--color_text);
}
