._local {
	padding-top: 36px;
	padding-bottom: 24px;

	:global {
		.left_wrap {
			width: calc(100% - 180px);

			em-emoji {
				.emoji-mart-emoji {
					margin-bottom: -1px;
				}
			}

			.name {
				font-size: 24px;
				font-weight: 500;
				line-height: 1;
				user-select: none;
			}

			.desc {
				margin-top: 12px;
				color: var(--color_text_grey);
				user-select: none;
			}
		}

		.actions_wrap {
			.icon_wrap {
				width: 30px;
				height: 30px;
				border-radius: var(--radius);
				border: none;
				outline: none;
				box-shadow: none;

				&:hover {
					background-color: var(--color_bg_2);
				}
			}
		}
	}
}