.container {
	padding-left: calc(var(--sidebar_width) + var(--dirtree_width));

	&.no_dirtree {
		padding-left: var(--sidebar_width);
	}

	&.browser_mode {
		padding-left: 0;
	}
}

.modal_homepage {
	flex-direction: row;
	height: min(600px, 81vh);
	padding: 0 !important;
}
