._local {
	padding-top: 36px;
	padding-bottom: 24px;

	&.other_mode {
		max-width: 100%;
		height: 72px;
		padding: 0 30px;
	}

	:global {
		.filter_wrap {
			right: var(--limited_padding);

			.filter_item {
				height: 25px;
				padding: 3px;
				border-bottom-left-radius: var(--radius_small);
				border-bottom-right-radius: var(--radius_small);
				font-size: 12px;
				line-height: 1;
				border: var(--border);
				border-top: none;
				user-select: none;

				&.filter_tags {
					padding: 0 3px;
					padding-left: 0;
				}

				.btn_remove {
					width: 16px;
					height: 16px;
					border-radius: var(--radius_small_1);

					&:hover {
						background-color: var(--color_bg_2);
					}
				}
			}

			.select_tags {
				--height: 18px;

				margin-left: 0;
			}

			.type_wrap {
				padding: 0 6px;
				height: 16px;
				border-radius: var(--radius_small_1);

				&:hover {
					background-color: var(--color_bg_2);
				}

				.btn_order {
					margin-bottom: -2px;
				}
			}
		}

		.left_wrap {
			width: calc(100% - 180px);

			em-emoji {
				margin-right: 8px;

				.emoji-mart-emoji {
					margin-bottom: -1px;
				}
			}

			.name {
				font-size: 24px;
				font-weight: 500;
				line-height: 1;
				user-select: none;
			}

			.desc {
				margin-top: 12px;
				color: var(--color_text_grey);
				user-select: none;
				font-size: 12px;
			}
		}

		.actions_wrap {
			width: 180px;

			.icon_wrap {
				width: 30px;
				height: 30px;
				border-radius: var(--radius);
				border: none;
				outline: none;
				box-shadow: none;

				&:hover {
					background-color: var(--color_bg_2);
				}
			}
		}
	}
}
