._local {
	height: calc(100% - 72px);
	overflow-x: scroll;
	outline: none;
	padding: 0 18px;

	&.tag_mode {
		.kanban_item_wrap {
			.kanban_item_header {
				padding-left: 30px;

				&::before {
					content: '';
					position: absolute;
					left: 21px;
					width: 3px;
					height: 42%;
					background-color: var(--color_tag);
					border-radius: var(--radius);
				}

				:global {
					.left_wrap {
						.name {
							font-weight: normal;
						}
					}
				}
			}
		}
	}

	.kanban_item_wrap {
		width: 300px;
		min-width: 300px;
		font-family: Georgia, '简宋';

		.kanban_item_header {
			height: 30px;
			padding: 0 21px;
			line-height: 1;

			:global {
				.left_wrap {
					.name {
						font-weight: 500;
					}

					.count {
						padding: 2px 4px;
						background-color: var(--color_bg_1);
						border-radius: 30px;
						font-size: 10px;
						color: var(--color_text_grey);
					}
				}

				.btn_insert {
					width: 21px;
					height: 21px;
					border-radius: var(--radius_small);

					&:hover {
						background-color: var(--color_bg_2);
					}
				}
			}
		}
	}
}
