._local {
	padding: 18px 0;
	width: calc(100% - var(--sidebar_width) - var(--dirtree_width));
	left: calc(var(--sidebar_width) + var(--dirtree_width));

	:global {
		.input_add_todo {
			padding: 7px 12px;
			border-bottom-width: 2px;
			border-bottom-style: solid;
			background-color: transparent;
                  backdrop-filter: var(--blur);

			&:focus {
				border-color: var(--color_text);
			}
		}

		.options_wrap {
			margin-bottom: 6px;

			.select {
				.if-select-selector {
					height: 24px;

					.if-select-selection-item {
						line-height: 22px;
						font-size: 12px;
					}
				}
			}

			.select_type {
				.if-select-selector {
					background-color: var(--color_bg_1) !important;

					&:hover {
						background-color: var(--color_bg_2) !important;
					}
				}
			}

			.select_tag {
				min-width: 48px;
				margin-left: 1px;

				.if-empty-image {
					margin: 0;
				}

				.if-empty-description {
					display: none;
				}

				.if-select-selector {
					padding-left: 1px;
					padding-right: 0;

					&::after {
						display: none;
					}

					.if-select-selection-search {
						width: 1px !important;
					}

					.if-select-selection-overflow {
						width: 100%;
						height: 24px;
						align-items: center;

						&-item {
							height: 100%;
							display: inline-block;
							overflow: hidden;
							align-self: unset;
						}
					}
				}

				.tag {
					line-height: 1;
					padding: 3px 6px;
					border-radius: var(--radius_small);
					font-size: 12px;
					font-weight: bold;
					margin: 0 2px;

					.btn_close {
						padding: 3px 2px;
						margin-left: 3px;

						&:hover {
							border-radius: var(--radius_small);
							background-color: var(--color_bg);
						}
					}
				}
			}

			.if-select-dropdown {
				min-width: 72px !important;
				max-width: 108px !important;

				.if-select-item {
					min-height: unset;
					padding: 3px 4px;
					font-size: 12px;

					&-option-selected {
						background-color: transparent;
					}
				}
			}
		}
	}
}

.circle {
	:global {
		.btn_circle {
			width: 24px;
			height: 24px;
			border-radius: var(--radius);
			color: rgba(var(--color_text_rgb), 0.6);

			&:hover {
				color: rgba(var(--color_text_rgb), 1);
				background-color: var(--color_bg_2);
			}
		}

		.circle_input_wrap {
			.title_wrap {
				padding: 6px 12px;
				border-bottom: 1px solid var(--color_border_light);
			}

			.circle_input_items {
				width: 240px;
				padding: 6px 12px;

				.circle_input_item {
					font-size: 12px;
					padding: 2px 0;

					&.en {
						.label {
							width: 60px;
						}

						.slider {
							width: calc(100% - 60px - 48px);
						}
					}

					.label {
						width: 40px;
					}

					.slider {
						width: calc(100% - 40px - 48px);
						margin: 0;
					}

					.value {
						width: 48px;

						input {
							text-align: right;
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
