._local {
	width: 48px;
	font-family: 'Avenir';
	font-size: 12px;
	line-height: 1;

	:global {
		.hours_wrap {
			.hour_item {
				height: 48px;
				border-bottom: var(--border);
				border-right: var(--border);
			}
		}
	}
}
