._local {
	transition: padding 0.3s;

	&.other_mode {
		height: 100%;
	}

	&.visible_detail_modal {
		padding-right: 300px;
	}

	:global {
		.todo_item_drag_overlay {
			z-index: 1000;
			border-radius: var(--radius);
			outline: 1px dashed var(--color_text);
			background-color: transparent;
			backdrop-filter: var(--blur);

			&.kanban_mode {
				border-radius: var(--radius_small);

				.drag_wrap {
					right: -9px;
				}
			}

			&.flat {
				.drag_wrap {
					top: unset;
					right: 3px;
				}
			}

			.drag_wrap {
				top: 6px;
				right: 0px;
				width: 14px;
				height: 14px;
				border-radius: var(--radius_small_1);
				background-color: var(--color_bg_2);
			}

			.dot_wrap {
				display: none;
			}
		}
	}
}
