._local{
      margin-top: 36px;

	:global {
		.group_title {
			padding: 0 11px;
			margin-bottom: 9px;
			font-size: 12px;
			line-height: 1;
			color: var(--color_text_grey);
			user-select: none;
		}
	}
}