._local {
	width: 180px;
	padding: 0 9px;
	padding-bottom: 30px;
	font-size: 12px;

	:global {
		.timeblock_placeholder {
			top: 6px;
		}

		.if-form-item {
			margin-bottom: 0px;
			border-bottom: 1px dashed var(--color_border_light);

			&:last-child {
				margin-bottom: 0;
				border-bottom: none;
			}

			.if-form-item-label {
				width: 36px;
				line-height: 1;
				text-align: left;

				label {
					height: 30px;
					color: var(--color_text_light);
					font-size: 12px;

					&::after {
						display: none;
					}
				}
			}

			.if-form-item-control {
				width: calc(100% - 36px);

				.if-form-item-control-input {
					min-height: unset;
				}
			}
		}

		.text_wrap {
			min-height: 30px;
			line-height: 1.5;
			padding: 6px 0;
			outline: none;
			font-size: 12px;
		}

		.select {
			height: 30px;

			.if-select-selector {
				align-items: center;
				padding: 0;
				font-size: 12px;

				.if-select-selection-search {
					inset-inline-start: unset;
					inset-inline-end: unset;
				}

				.if-select-selection-placeholder {
					inset-inline-start: unset;
					inset-inline-end: unset;
				}

				input {
					height: 30px !important;
					font-size: 12px;
				}
			}

			.if-select-arrow {
				right: 0;
			}

			.if-select-clear {
				right: 0;
			}

			.option_item {
				.tag_color {
					width: 9px;
					height: 9px;
					border-radius: 50%;
				}
			}
		}

		.tab_wrap {
			height: 30px;
			margin-top: 6px;
			border-top: var(--border);
			border-bottom-right-radius: var(--radius);
			border-bottom-left-radius: var(--radius);
			color: var(--color_text_light);
			background-color: var(--color_bg);

			&::before {
				position: absolute;
				top: 0;
				left: calc(50% - 0.5px);
				width: 1px;
				height: 100%;
				background-color: var(--color_border_light);
				content: '';
			}

			.tab_item {
				width: 50%;

				&:hover,
				&.active {
					color: var(--color_text);
				}

				.counts {
					line-height: 1;
					padding: 1px 3px;
					border: var(--border);
					border-radius: 50%;
					font-size: 10px;
				}
			}
		}
	}
}
