.todo_item_wrap {
	&.kanban_mode {
		&.is_dragging {
			opacity: 1;
		}

		&.is_over {
			position: relative;

			:global {
				.over_line {
					width: calc(100% - 12px);
					height: 1px;
					left: 12px;
					bottom: -1px;
					background-color: var(--color_text);

					&::before,
					&::after {
						content: '';
						position: absolute;
						width: 4px;
						height: 4px;
						border-radius: 50%;
						box-sizing: border-box;
						border: 1px solid var(--color_text);
					}

					&::before {
						left: -4px;
					}

					&::after {
						right: -4px;
					}
				}
			}
		}

		.todo_item {
			:global {
				.drag_wrap {
					left: unset;
					right: 0px;
				}
			}
		}
	}

	&.tag_mode {
		&.no_children {
			.todo_item {
				:global {
					.dot_wrap {
						display: none;
					}
				}
			}
		}

		.todo_item {
			:global {
				.drag_wrap {
					display: none;
				}
			}
		}
	}

	.todo_item {
		padding: 2px 6px;
		border: 1px dashed transparent;
		border-radius: var(--radius);

		&:hover {
			:global {
				.dot_wrap,
				.drag_wrap {
					opacity: 1;
				}
			}
		}

		&.checked,
		&.closed {
			:global {
				.dot_wrap {
					user-select: none;
				}

				.action_wrap {
					opacity: 0.3;
				}

				.text_wrap {
					opacity: 0.3;
				}

				.children_wrap {
					.action_wrap {
						opacity: 0.3 !important;
					}

					.text_wrap {
						opacity: 0.3;
					}
				}
			}
		}

		&.closed {
			:global {
				.dot_wrap {
					user-select: none;
				}

				.action_wrap {
					&:hover {
						background-color: unset;
					}
				}
			}
		}

		:global {
			.dot_wrap {
				top: 6px;
				left: -9px;
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background-color: rgba(var(--color_text_rgb), 0.12);
				opacity: 0;

				&:hover {
					opacity: 1;
				}

				&:active {
					background-color: rgba(var(--color_text_rgb), 0.24);

					&::after {
						background-color: rgba(var(--color_text_rgb), 0.72);
					}
				}

				&::after {
					content: '';
					width: 4px;
					height: 4px;
					border-radius: 50%;
					background-color: rgba(var(--color_text_rgb), 0.48);
				}

				&.dragging,
				&.hovering {
					opacity: 1;
					border: 1px solid var(--color_text);
					background-color: var(--color_bg);

					&::after {
						width: 6px;
						height: 6px;
						background-color: rgba(var(--color_text_rgb), 0.72);
					}
				}

				&.hovering {
					&::after {
						display: none;
					}
				}
			}

			.action_wrap {
				width: 21px;
				height: 21px;
				margin-top: 0.5px;
				margin-right: 3px;
				border-radius: 3px;
				color: var(--color_text_sub);

				&:hover {
					background-color: var(--color_bg_2);
				}
			}

			.text_wrap {
				width: calc(100% - (24px + 4px));
				min-height: unset;
				padding: 0;
				outline: none;

				&.has_children {
					&::after {
						content: attr(data-children);
						box-sizing: border-box;
						height: 14px;
						padding: 0 3px;
						margin-left: 3px;
						line-height: 12px;
						font-size: 10px;
						background-color: var(--color_bg_1);
						border-radius: 8px;
						border: var(--border);
						vertical-align: 1.6px;
					}
				}

				&.outdate {
					color: var(--color_danger);
				}

				&.remind {
					&::before {
						content: attr(data-remind);
						box-sizing: border-box;
						height: 14px;
						padding: 0 3px;
						margin-right: 3px;
						line-height: 12px;
						font-size: 10px;
						color: var(--color_warning);
						border-radius: 8px;
						border: var(--border);
						border: 1px solid var(--color_warning);
						vertical-align: 1.6px;
					}
				}
			}
		}
	}

	:global {
		.options_wrap {
			padding-top: 3px;
			padding-bottom: 9px;
			padding-left: 30px;
			transition: padding ease 0.3s;
			font-family: 'RedditSans';

			&.open {
				padding-left: 9.6px;
			}

			&.checked,
			&.closed {
				opacity: 0.6;
			}

			.other_wrap {
				height: 14px;
				margin-right: 9px;
				margin-bottom: -1px;
				border-radius: 7px;
				z-index: 1;
				line-height: 1;
				font-size: 10px;
				color: var(--color_text_grey);
				white-space: nowrap;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
