._local {
	padding: 6px 0;
}

.empty {
	color: var(--color_text_light);
}

.Item {
	font-size: 12px;

	&.isDragging {
		color: var(--color_main);
	}

	&.done {
		:global {
			.action_wrap {
				opacity: 0.3;
			}

			.todo_text {
				opacity: 0.3;
			}

			.children_wrap {
				.action_wrap {
					opacity: 0.3;
				}

				.todo_text {
					opacity: 0.3;
				}
			}
		}
	}

	:global {
		.action_wrap {
			width: 18px;
			height: 18px;
			margin-right: 2px;
			border-radius: 3px;
			color: var(--color_text_sub);
			transform: translateY(1.5px);

			&:hover {
				background-color: var(--color_bg_2);
			}
		}

		.todo_text {
			width: calc(100% - (18px + 2px));
			line-height: 18px;
			padding: 2px 0;
			user-select: none;

			&.has_children {
				&::after {
					height: 14px;
					line-height: 12px;
					box-sizing: border-box;
					padding: 0 3px;
					margin-left: 6px;
					border: var(--border);
					border-radius: 8px;
					background-color: var(--color_bg_1);
					content: attr(data-children);
					vertical-align: 1px;
					font-size: 10px;
				}
			}
		}

		.children_wrap {
			overflow: hidden;
			padding-left: 9px;
		}
	}
}

.ChildrenItem {
	&.checked {
		:global {
			.action_wrap {
				opacity: 0.3;
			}

			.todo_text {
				opacity: 0.3;
			}
		}
	}
}
