._local {
	overflow: hidden;
}

.content {
	height: calc(100% - 36px);
}

.schedule {
	width: 100%;

	&.visible_task_panel {
		width: calc(100% - 180px);
	}
}

.view_wrap {
	height: calc(100% - 36px);

	.view {
		width: calc(100% - 48px);
	}
}
