._local {
	overflow: hidden;

	:global {
		.btn_std {
			width: 24px;
			height: 24px;
			padding: 0;
			border-radius: var(--radius_small);
			background-color: transparent;
			color: rgba(var(--color_text_rgb), 0.3);

			&:hover {
				background-color: var(--color_bg_2);
				color: rgba(var(--color_text_rgb), 1);
			}

			&.active {
				color: rgba(var(--color_text_rgb), 1);
			}
		}
	}
}

.content {
	height: calc(100% - 36px);
}

.schedule {
	width: 100%;

	&.visible_task_panel {
		width: calc(100% - 180px);
	}
}

.view_wrap {
	height: 100%;
	overflow-y: scroll;
	outline: none;

	&.show_date_scale {
		height: calc(100% - 36px);
	}

	.view {
		width: 100%;

		&.show_time_scale {
			width: calc(100% - 48px);
		}

		&.day_scale {
			border-right: var(--border);
		}
	}
}
