._local {
	width: var(--sidebar_width);
	background-color: var(--color_bg);
	box-shadow: var(--shadow);

	-webkit-app-region: drag;

	--logo_height: 42px;
	--logo_padding_top: 15px;
	--logo_padding_bottom: 12px;

	&.is_mac_electron {
		--logo_padding_top: 36px;
	}

	:global {
		.logo_wrap {
			width: 100%;
			padding-top: var(--logo_padding_top);
			padding-bottom: var(--logo_padding_bottom);
		}

		.sidebar_items {
			height: calc(100vh - var(--logo_height) - var(--logo_padding_top) - var(--logo_padding_bottom));

			&.dark {
				.sidebar_item {
					&:hover,
					&.active {
						svg {
							path:first-child {
								fill: inherit;
							}
						}
					}
				}
			}

			.scroll_wrap {
				height: calc(100% - 64px);
				overflow-y: scroll;

				.scroll_mask {
					height: 18px;
					z-index: 1;

					&.top {
						background: linear-gradient(to bottom, var(--color_bg), transparent);
					}

					&.bottom {
						background: linear-gradient(to top, var(--color_bg), transparent);
					}
				}
			}

			.sidebar_item {
				-webkit-app-region: none;

				width: 42px;
				height: 42px;
				margin-bottom: 9px;
				text-decoration: none;
				opacity: 0.36;
				border-radius: var(--radius);

				&:first-child {
					margin-top: 3px;
				}

				&:hover,
				&.active {
					opacity: 1;

					svg {
						path:first-child {
							fill: var(--color_main);
						}
					}
				}

				&.current {
					background-color: var(--color_bg_2);
				}

				&.show_bar_title {
					width: 42px;
					height: 51px;
					margin-bottom: 8px;
				}

				&_title {
					font-size: 10px;
				}
			}

			.sidebar_bottom_wrap {
				.btn_apps_wrap {
					height: 64px;

					.btn_apps {
						width: 42px;
						height: 42px;
						border-radius: var(--radius);

						&:hover {
							background-color: var(--color_bg_2);
						}
					}
				}
			}
		}
	}
}
