[data-theme='dark'] {
	._local {
		:global {
			.btn_upgrade {
				color: var(--color_bg);
				background-color: rgba(255, 255, 255, 0.81);

				&:hover {
					color: var(--color_bg);
					background-color: rgba(255, 255, 255, 1) !important;
				}
			}
		}
	}
}

._local {
	:global {
		.if-segmented {
			.if-segmented-group {
				.if-segmented-item {
					.if-segmented-item-label {
						font-weight: 500;
					}
				}
			}
		}

		.btn_upgrade {
			border: none;
			background-color: var(--color_text_sub);
			font-weight: 500;
			gap: 6px;

			&:hover {
				background-color: var(--color_text) !important;
			}

			&:disabled {
				pointer-events: none;
			}

			&.billed {
				border: 1px solid var(--color_text);
				color: var(--color_text);
				background-color: unset;

				&:hover {
					color: var(--color_text);
					background-color: unset !important;
				}
			}

			.if-btn-icon {
				display: flex;
			}
		}

		.price_items {
			.price_item {
				margin-bottom: 30px;
				border-radius: var(--radius_large);

				&:last-child {
					margin-bottom: 0;
				}

				.header_wrap {
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: var(--border_light);

					.pro_price_wrap {
						&.disconnected {
							justify-content: space-between;
							width: 100%;

							.price {
								opacity: 0.48;
							}
						}
					}

					.type {
						margin: 0;
						font-weight: 400;
					}

					.price {
						.value {
							font-size: 18px;
						}
					}
				}

				.features {
					color: var(--color_text_sub);
					letter-spacing: 0.3px;
					font-size: 13px;

					.feature {
						margin-bottom: 15px;

						&:last-child {
							margin-bottom: 8px;
						}

						.icon_check {
							margin-right: 12px;
							color: var(--color_text_sub);
							font-size: 10px;
						}

						.icon_feature {
							margin-right: 10px;
							margin-left: -1px;
						}
					}
				}
			}
		}

		.cancel_wrap {
			padding: 18px;
			margin-top: 36px;
			border: var(--border_light);
			border-radius: var(--radius);
			color: var(--color_text_light);

			.cancel_item {
				&:first-child {
					padding-bottom: 12px;
					margin-bottom: 12px;
					border-bottom: var(--border_light);
				}

				.title {
					margin-bottom: 4px;
					font-size: 14px;
					font-weight: 500;
				}

				.content {
				}
			}
		}
	}
}

.iframe_wrap {
	:global {
		.btn_close {
			width: 30px;
			height: 30px;
			border: var(--border);
			border-bottom-left-radius: var(--radius);
			color: var(--color_bg);
			background-color: var(--color_text);
		}

		iframe {
			width: 81%;
			height: 81%;
			border: none;
			border-radius: var(--radius);
		}
	}
}

.empty {
	padding: 120px 0;
	margin-bottom: 30px;
	color: var(--color_text_light);

	:global {
		.desc {
			width: 240px;
			font-size: 12px;
		}

		.btn_get_prices {
			height: 24px;
			background-color: var(--color_bg_1);
			font-size: 12px;
		}
	}
}
