._local {
	padding-top: 36px;
	padding-bottom: 9px;

	&:hover {
		:global {
			.drag_wrap {
				opacity: 1;
			}
		}
	}

	:global {
		.drag_wrap {
			top: unset !important;
			bottom: 8px;
		}

		.group_title {
			padding: 0 11px;
			font-size: 12px;
			line-height: 1;
			color: var(--color_text_grey);
			min-height: unset;
			outline: none;
		}
	}
}
