.timeline_wrap {
	overflow-y: scroll;

	:global {
		.timeline_angle {
			padding-left: 90px;
			border-bottom: var(--border);

			.angle_header {
				width: 90px;
				line-height: 1.2;
				padding: 0 12px;
				border-right: var(--border);
				font-size: 12px;
				font-weight: 500;
			}

			.angle_rows {
				.timeline_row {
					height: 36px;
					padding: 1px 0;
				}
			}
		}
	}
}
