.timeline_wrap {
	overflow-y: scroll;

	:global {
		.timeline_angle {
			border-bottom: var(--border);
			padding-left: 90px;

			&:hover {
				.angle_rows {
					.timeline_row {
						border-bottom-color: var(--color_border_light);
					}
				}
			}

			.angle_header {
				width: 90px;
				padding: 0 12px;
				border-right: var(--border);
				font-size: 12px;
				font-weight: 500;
				line-height: 1.2;
			}

			.angle_rows {
				.timeline_row {
					&:hover {
						border-bottom-color: var(--color_border_light);
					}

					&:last-child {
						border-bottom-color: transparent;
					}
				}
			}
		}
	}
}

.Day {
	width: 1px;
	background-color: var(--color_border_light);
}

.Row {
	height: 38px;
	border-top: 1px solid transparent;
	border-bottom: 1px dashed transparent;
}
