._local {
	margin-top: 10px;

	:global {
		.title {
			margin-bottom: 6px;
		}

		.if-table-thead {
			display: none;
		}

		.if-table-wrapper {
			.if-table {
				table {
					border-radius: var(--radius);
					background-color: var(--color_bg_1);

					tbody {
						tr {
							&:first-child {
								td {
									height: 30.3px;
									padding-top: 3.3px !important;
								}
							}

							&:last-child {
								td {
									height: 30.3px;
									padding-bottom: 3.3px !important;
								}
							}

							td {
								height: 27px;
								padding: 0 12px !important;
								border: none !important;

								&:last-child {
									color: var(--color_text_light);
									text-align: right;
								}
							}
						}
					}
				}
			}

			.if-table-pagination.if-pagination {
				margin: 12px 0;
				font-size: 12px;
			}
		}
	}
}
