._local {
	margin-top: 10px;

	:global {
		.title {
			margin-bottom: 6px;
		}

		.if-table-thead {
			display: none;
		}

		.if-table-wrapper {
			.if-table {
				table {
					tbody {
						tr {
							td {
								height: unset;
								padding: 6px 0 !important;
								border-bottom: var(--border_soft) !important;

								&:last-child {
									color: var(--color_text_light);
									text-align: right;
								}

								&.if-table-cell-row-hover {
									background-color: unset;
								}
							}
						}
					}
				}
			}

			.if-table-pagination.if-pagination {
				margin: 12px 0;
				font-size: 12px;
			}
		}
	}
}
