._local {
	padding: 0 18px;

	:global {
		.textarea {
			min-height: 150px;
			padding: 0;
			border-radius: 0;
			font-size: 12px;
			line-height: 1.8;
			outline: none;
			color: rgba(var(--color_text_rgb), 0.6) !important;
			white-space: pre-wrap;

			&:empty::after {
				content: attr(data-placeholder);
			}
		}
	}
}
