._local {
	:global {
		.item_wrap {
			padding: 6px 12px;

			&:hover,
			&.active {
				background-color: var(--color_bg_1);
			}

			.left_icon_wrap {
				width: 18px;
				margin-right: 6px;
				color: var(--color_text_sub);
			}

			.title_wrap {
				width: calc(100% - 24px - 36px);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				user-select: none;
			}

			.right_icon_wrap {
				width: 36px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: var(--color_text_grey);
				text-align: right;
				font-size: 12px;
				user-select: none;

				.icon_fold {
					margin-right: -2px;

					&.opened {
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}
