._local {
	&.isDragging {
		opacity: 0;
	}

	&.is_dir {
		&::after {
			content: '';
			position: absolute;
			box-sizing: border-box;
			top: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 100%;
			border: 2px dotted var(--color_main);
			border-radius: var(--radius);
		}
	}

	&.is_file {
		&::after {
			content: '';
			position: absolute;
			box-sizing: border-box;
			bottom: 0;
			left: 0;
			z-index: 10;
			width: 100%;
			height: 0px;
			border-bottom: 2px dotted var(--color_main);
		}
	}

	:global {
		.item_wrap {
			height: 36px;
			padding: 0;
			padding-right: 18px;
			line-height: 1;
			border: none;
			outline: none;
			box-shadow: none;
			border-radius: 0;

			&:hover {
				background-color: var(--color_bg_2) !important;
			}

			&.active {
				background-color: var(--color_bg_1);
			}

			&.focusing {
				background-color: var(--color_bg_2);
			}

			&.dragging {
				padding: 0 18px !important;
				outline: 2px solid var(--color_main);
				border-radius: var(--radius);
				background-color: transparent !important;
				backdrop-filter: var(--blur);
			}

			.left_icon_wrap {
				width: 18px;
				margin-right: 6px;
				user-select: none;
			}

			.title_wrap {
				width: calc(100% - 24px - 48px);
				vertical-align: middle;
				text-align: left;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				user-select: none;

				&.is_file {
					width: calc(100% - 24px);
				}
			}

			.right_icon_wrap {
				width: 48px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				color: var(--color_text_grey);
				text-align: right;
				font-size: 12px;
				user-select: none;

				&.no_children {
					.icon_fold {
						color: var(--color_border);
					}
				}

				.children_count {
					padding: 2px 4px;
					margin-right: 4px;
					background-color: var(--color_bg_1);
					border-radius: 30px;
					font-size: 10px;
				}

				.icon_fold {
					margin-right: -2px;

					&.opened {
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}
