._local {
	height: calc(100% - 72px);
	padding-top: 0;

	&.unpaid {
		opacity: 0.3;

		:global {
			.react-flow {
				pointer-events: none !important;
			}

			.react-flow__nodes {
				.react-flow__node {
					pointer-events: none !important;
				}
			}
		}
	}

	:global {
		.signal_wrap {
			display: none;
		}

		.mindmap_wrap {
			overflow: hidden;
			height: 100%;
		}

		.react-flow {
			background-color: transparent;
		}

		.react-flow__pane {
			&.draggable {
				cursor: unset;
			}
		}

		.react-flow__node {
			box-sizing: border-box;
			padding: 0;
			border: none;
			background-color: transparent;

			&.draggable {
				cursor: unset;
			}

			&-default {
				width: unset;
			}

			&.root_node {
				height: 30px;
				line-height: 30px;
				padding: 0 12px;
				border-radius: 30px;
				color: var(--color_bg);
				background-color: var(--color_text);
				font-weight: bold;
			}

			&.angle_node {
				width: auto;
				height: 24px;
				line-height: 22px;
				padding: 0 12px;
				border: 1px solid var(--color_text);
				border-radius: 24px;
			}
		}

		.react-flow__edge-path {
			stroke: var(--color_border);
			stroke-dasharray: 3, 3;
		}

		.react-flow__handle {
			opacity: 0;
		}
	}
}

.shadow {
	z-index: -1;
	top: -100vh;
	left: -100vw;
	visibility: hidden;
	overflow: hidden;

	:global {
		.react-flow__node {
			box-sizing: border-box;
			padding: 0;
			border: none;

			&-default {
				width: unset;
			}

			&.root_node {
				min-width: 90px;
				height: 30px;
			}

			&.angle_node {
				min-width: 60px;
				height: 24px;
			}
		}
	}
}
